[2015-08-22 22:19] kevinb7 commented on #381
I change the `get` params to `200, 200` and the background turned blue.  I commented/uncommented the `translate` and the result was the same.  I tested on Chrome, Firefox, and Safari on Mac OS X 10.10.   @Gigabyte-Giant which browser/os combo are you seeing the issue on?

[2015-08-22 22:40] MikaalSky opened #392 "Colorpicker overrides Error Buddy..?"
![Demo](http://i.imgur.com/MBI1hgG.gif)

[2015-08-22 22:41] MikaalSky commented on #392
Working on MCKE today is just surfacing numerous bugs.

[2015-08-22 22:46] MikaalSky opened #393 "background(get(0,0)); shows colorpicker"
![Screenshot](http://take.ms/kZffH)
Clicking on the get()'s params shows the color picker, when it should show the scrubbers.

[2015-08-22 23:08] kevinb7 commented on #393
Thanks.  Nice find.  We should probably to fix this by looking at the AST instead of using regexes.  I suppose we could've figured out a more complicated regex.

[2015-08-22 23:10] kevinb7 commented on #392
That's an interesting one.  I think it makes sense to hide the scrubbers if there's a syntax error.

[2015-08-24 05:22] kevinb7 opened #395 "Doing for (key in obj) gives undefined for each key in the PJS environment"
Calling ```walkAST(ast, null, [ASTTransforms.rewriteContextVariables(envName, context)]);``` with the AST for the following code
[code]
generates the following output (after codegen):
[code]

The variable declaration in the for-in loop should've been converted to ```__env__168037363.i```, but it's not.

@Gigabyte-Giant you might want to give this one a try.

[2015-08-24 14:00] Gigabyte-Giant commented on #395
I'm definitely going to do this one! :)

[2015-08-24 14:20] kevinb7 commented on #395
@Gigabyte-Giant cool.  Since this is a regression it would be nice to take care of this relatively quickly.  If you can't work on this soonish please let me know.

[2015-08-24 15:52] pamelafox commented on #392
Hm. Interesting. I think there may be folks that do try to choose colors while there's still a syntax error, I'm not sure. What's the problem with showing both in this case?

[2015-08-24 15:55] pamelafox commented on #390
Hm. I think we could allow relative links so that folks who are working on HTML for other places can use relative links without getting Oh Noes Guy. I often write HTML in our editor and then paste it elsewhere, or I paste in HTML from elsewhere.

The big thing I wanted to help guide users with is the protocol-less URLs, like "google.com", as I saw that as a common mistake, likely caused by browser

[2015-08-24 16:18] kevinb7 commented on #392
Nothing I guess.  But we might want to keep Error buddy up if that's the case.

[2015-08-24 17:08] pamelafox opened #397 "width is not always what is passed in"
1. Go to https://www.khanacademy.org/computer-programming/new/pjs?width=600
2. Type this code:
[code]

In Chrome, the width ends up being 598. In Firefox, it's 600.

Ideally, it'd be 600, but students should also ideally not be dependent on exact widths.

[2015-08-24 18:06] #395 closed

[2015-08-24 19:05] jjwon commented on #390
I feel like relative scripts/images/other things which will affect webpage appearance shouldn't be allowed since it won't render as it should.  I can see either argument for links, but it'll be a little confusing since relative urls aren't really valid and can be in a variety of formats.

For example, I can't quickly think of a good way to differentiate `<a href="about.html">link</a>` from `<a hre

[2015-08-24 19:06] pamelafox commented on #390
That's fair. Can try it out with relative URLs not allowed.

[2015-08-24 19:27] #390 closed

[2015-08-24 19:55] Gigabyte-Giant commented on #381
@kevinb7 I edited my above post. There is no issue.

[2015-08-25 00:42] MikaalSky commented on #397
In a ideal situation, width would be accurate.

[2015-08-25 03:58] kevinb7 commented on #374
Completed in https://github.com/Khan/live-editor/commit/fede4efbcfcea86cb8b6f9956e36e9abbf2807df.

[2015-08-25 03:58] #374 closed

[2015-08-25 03:59] kevinb7 commented on #381
Maybe the user's expectation of what `get` should differs from what `get` is supposed to do.

[2015-08-25 12:07] MikaalSky commented on #381
There is no get course so I could see why.

[2015-08-25 12:27] GoToLoop commented on #381
Reading **get()**'s reference from Processing's site: https://processing.org/reference/get_.html
It states it's neither affected by **imageMode()** nor **colorMode()**.
And that it's merely a slower & more convenient _pixels[]_ alternative.
So it's assumed it's not affected by any transformations either. Just like _mouseX_ & _mouseY_.

[2015-08-25 12:41] Gigabyte-Giant commented on #368
If the AST gets passed into BabyHint, would usage of `node.arguments` be substantial enough?

I suppose we'd probably still need to use `.length`...

[2015-08-25 15:21] kevinb7 opened #399 "freeze Array.prototype so that people can't redefine its methods"
Discovered by @SpongeJr in https://www.khanacademy.org/computer-programming/light-reflection-and-refraction/5872552844722176.

[2015-08-25 15:21] kevinb7 commented on #399
It causes escodegen to mess up because it relies on being able to push multiple values at the same time.

[2015-08-25 17:22] kevinb7 opened #400 "calls to the .toString() on functions should output code that is the same as the user code"
This is used in programs such as the Button Creator, see https://www.khanacademy.org/computer-programming/button-generator/1847123742.

Right now the generated code includes references to __env__1293812739.

[2015-08-25 20:02] kevinb7 opened #401 "links with href='javascript:void(0)' should not open a new page"
[code]
Click the link.  It will open `computer-programming/link_redirector?url=javascript%3Avoid(0)%3B` in a new tab and the page will say: `A webpage created on Khan Academy wants you to visit: javascript:void(0); Please click the link if you'd like to go there, otherwise close this window.
`

[2015-08-25 20:19] pamelafox commented on #397
The reporter also suggests zooming the browser to replicate the weirdness (like 175%). I'm still unable to replicate at width=400, but browsers may vary. I did replicate the width=600 weirdness.

[2015-08-25 21:37] MikaalSky commented on #400
Im not sure overriding .toString would be a good thing to do.

[2015-08-25 22:21] kevinb7 commented on #400
Yeah, but I'm not sure what else we could.  Any ideas?

[2015-08-25 22:29] jjwon commented on #397
I was able to generate some width weirdness just by zooming out; at 67% it broke a lot for width=400, 600, 700, etc.

[2015-08-26 01:50] kevinb7 commented on #381
Closing it.  Thanks @GoToLoop for providing references to the docs.

[2015-08-26 01:50] #381 closed

[2015-08-26 18:54] pamelafox opened #402 "Allow links with protocol-relative URLs"
Reported on ZenDesk.

"Webpages that use <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> throw an error: The <script> tag's src attribute points to an invalid URL. Did you include the protocol (http:// or https://)?"

[2015-08-26 18:54] pamelafox commented on #402
/cc @jjwon

[2015-08-26 18:55] pamelafox commented on #401
/ cc @jjwon

[2015-08-26 21:03] MikaalSky opened #404 "PLEASE stop surfacing invalid url errors with a fatal error."
It's not neccasary for a webpage to function for it to have valid urls. These should be dealt with like warnings, not errors.

[2015-08-26 21:20] pamelafox commented on #404
/ cc @jjwon

Can we handle them like we handle the image picker bad URL errors?

[2015-08-26 21:22] MikaalSky commented on #404
Don't those prevent the user from continuing?

[2015-08-26 21:26] pamelafox commented on #404
Ah-- I don't think they did before, they seem to now.

[2015-08-26 21:27] pamelafox commented on #404
I'd suggest experimenting with adding a warning icon to the gutter for that line, and using the hover to give the information about validity.

[2015-08-26 21:29] MikaalSky commented on #404
That might be a more new_error_experience thing. It might make sense to be able to dismiss error buddy for now.

[2015-08-26 21:32] MikaalSky commented on #404
How about a more IDE way of surfacing errors (inline error reports with an error/warning list below, plus gutter icons like you mentioned)

[2015-08-26 21:36] MikaalSky commented on #404
Nevermind, now that I reread thats what you were suggesting.

[2015-08-26 21:45] jjwon commented on #404
I can work on adding something like that: in the meanwhile, should we revert the INVALID_URL error?  I can submit a PR or someone else can just push to master but all you'd need to do is comment out the code in `slowparse.js`.

[2015-08-26 22:43] kevinb7 commented on #404
On top of surfacing non-fatal warnings we might always want to have an actual error when someone clicks on the link.  This could be separate from the gutter warning.  In the meantime, @jjwon if you could submit a PR with the necessary line(s) commented out that would be much appreciated.

[2015-08-26 22:51] MikaalSky commented on #404
Why not just floating error bubbles

[2015-08-26 22:52] kevinb7 commented on #404
In the editor or above the link in the output frame?

[2015-08-26 23:02] MikaalSky commented on #404
Editor

[2015-08-26 23:18] kevinb7 commented on #404
That would work too, but there would be more engineering effort required.  The nice thing about the gutter warnings is that they're already supported by ace.  The downside is that they're hidden so there's no guarantee that a user will look at them.

[2015-08-27 01:10] PeterBaum commented on #397
The Chrome browser I was using that showed the problem  was Version 44.0.2403.157 m (64-bit).  This was running under Windows 10.

[2015-08-27 01:12] MikaalSky commented on #404
Just noticed.
We're on issue 404 and we're talking about the webpage enviorment. Links, specifically.

[2015-08-27 02:37] Gigabyte-Giant commented on #397
...I highly doubt the fact that you can replicate this issue by zooming in and out in the browser. It has to do with viewport size (if I'm not terribly mistaken), therefore, whether or not this issue will be surfaced, will be decided upon page load.

[2015-08-27 05:11] kevinb7 opened #406 "Determine how to surface invalid URLs"
Original issue: https://github.com/Khan/live-editor/issues/404

TL;DR: URLs without the http:// or https:// don't go where user's expect, e.g. `<a href="google.com">` redirects to an ka.org page that doesn't exist.  Popping up error buddy for this kind of issue is annoying because the rest of the webpage will still work.

[2015-08-27 05:12] kevinb7 commented on #404
I've deployed @jjwon's change.  Please continue the conversation in https://github.com/Khan/live-editor/issues/406.

[2015-08-27 05:12] #404 closed

[2015-08-27 12:50] MikaalSky commented on #406
It's easy enough to just append the protocol. Browsers will autodetect if it's http or https anyway.

[2015-08-27 13:22] kevinb7 commented on #406
I believe browsers only autodetect if you type the URL into the address bar.

[2015-08-27 13:25] MikaalSky commented on #406
No, just having a terminalbit.com href redirects to http://terminalbit.com

[2015-08-27 13:40] kevinb7 commented on #406
I must be doing something wrong.  When I add `<a href="google.com">Google</a>` to a page and click on it does not redirect for me, e.g. <a href="google.com">Google</a>

[2015-08-27 13:43] kevinb7 commented on #406
@MikaalSky which browser are you using?  I'm using Chrome and the link in the last post shows the github 404 page.

[2015-08-27 14:22] PeterBaum commented on #397
Both the page load and the zoom factor are required. You are correct that changing the zoom factor alone will not replicate the problem.  The procedure that I use to consistently diisplay the issue is to first set the zoom factor (say 175% in Chrome) and then load the demonstration program
https://www.khanacademy.org/computer-programming/bug-canvas-width-is-now-401-pixels/6664376397463552

Sorry f

[2015-08-27 18:14] jjwon commented on #406
It only works automatically appends the protocol if you type it into the URL bar, as Kevin said.  HTML tags `href`, `src`, etc do not append this by default.

[2015-08-27 18:18] jjwon commented on #406
I was investigating a solution using the gutter annotations, as someone brought up in the other thread, and I think I have an idea of how to approach it.  Right now, the webpage output doesn't have support for this, but it's pretty similar to the way the PJS output does it.

Slowparse can throw warnings as well as errors, and I think we can just make use of this in the gutter.  This could also be

[2015-08-27 21:02] kevinb7 commented on #389
towers of hanoi:
- https://www.khanacademy.org/computer-programming/program/4772835774169088

[2015-08-27 21:26] MikaalSky commented on #406
We might as well automatically append protocols if there isn't already one.

[2015-08-27 21:28] pamelafox commented on #406
I don't want to do too much magical fixing, as then students will be handicapped when they get to other HTML editing environments and don't have that fixing tool. I like the idea of using the gutter for warnings, as there are a lot of other things in HTML that we might want to warn about and not error about.

[2015-08-27 21:29] MikaalSky commented on #406
Autofixing with a warning at least, or just warnings. Not sure.

[2015-08-27 21:31] kevinb7 commented on #406
Let's start with gutter warnings and see how that goes.

[2015-08-27 21:47] pamelafox commented on #380
This popped up again this week in ZenDesk. The reporter says it happens for her in Chrome and Firefox.

[2015-08-27 21:52] GoToLoop commented on #380
https://github.com/processing-js/processing-js/issues/167

[2015-08-28 16:17] pamelafox commented on #313
Oh, neat! Have you used this to record any instructional talk-throughs yourself?

[2015-08-29 01:28] #401 closed

[2015-08-29 01:29] kevinbarabash opened #407 "Calling functions declared in switch/case statements don't work in live-editor"
Example: https://www.khanacademy.org/computer-programming/bug-function-definition-within-case-hangs-system/6101856746078208

@Gigabyte-Giant you may be interested in looking at this one.  It's another AST transform related bug.

[2015-08-29 18:28] Gigabyte-Giant commented on #407
Adding this to my to-do list! :)

[2015-08-29 23:55] JavascriptFTW commented on #193
It *is* bad practice to do it like that, but there are quite a few programs that do something *like* that, but not very bad at all style wise, i.e.
[code]
These programs would be broken if errors were thrown for redefining special functions. A better idea would be to throw a warning instead (which would require differentiation between errors and warnings which the error buddy currently can't do as

[2015-08-30 00:42] kevinb7 commented on #193
Point taken.  We add gutter warnings when `Program.assertEqual` fails.  Updating BabyHint to differentiate errors from warnings sounds like a good idea.  I'm sure there's other stuff that we could warn against, e.g. setting event handlers inside the `draw` function is another thing I've seen people that's probably not a good idea.

@JavascriptFTW if you're planning to do something with BabyHint, y

[2015-08-30 19:39] kevinb7 opened #408 "Clicking on a suggested command should insert the command into the editor."
Steps to reproduce:
1. create a new pjs program
2. type 'back'
3. click on 'background'

Expected behaviour: it should insert 'background'
Observed behaviour: it does nothing

[2015-08-30 19:52] kevinb7 commented on #408
Reported by @SpongeJr.

[2015-08-31 10:13] petercollingridge commented on #385
This would be very useful, importing from external scratchpads even more so. Personally I don't think it's necessary to pin version of scratchpads. You should just encourage people to spin-off from the code they want and then import that instead (or only allow people to import their own code). That way people still get the Inspiration badge when someone uses their code. It might be useful if spin-

[2015-09-01 18:14] VirusKA opened #409 "Programs loads broke after new update."

[2015-09-01 18:20] kevinb7 commented on #409
@VirusKA thanks for the report.  We're in the process of a deploying a fix.

[2015-09-01 19:45] VirusKA commented on #409
fixed now. closing..

[2015-09-01 19:45] #409 closed

[2015-09-01 22:30] kevinb7 commented on #409
@VirusKA thanks verifying and closing.  ^_^

[2015-09-01 22:49] kevinb7 opened #410 "ace editor doesn't scroll on a Samsung Galaxy 4"
Android 5.0.1 and using an up-to-date version of Chrome
![screenshot_2015-09-01-21-47-46](https://cloud.githubusercontent.com/assets/1044413/9619080/4fbd16c2-50c9-11e5-9eb9-acbbcc2c632a.jpg)

[2015-09-01 23:43] MikaalSky commented on #410
It'll scroll, but the margin for finger placement error is about zero.

[2015-09-02 02:09] kevinb7 opened #411 "Error buddy doesn't like <h1> tags inside <p> tags"
https://www.khanacademy.org/computer-programming/spin-off-of-project-travel-webpage/6372692977647616

[2015-09-02 02:42] GoToLoop commented on #411
According to &lt;p>'s reference: https://developer.Mozilla.org/en-US/docs/Web/HTML/Element/p
Only "Phrasing" content is allowed inside it: https://developer.Mozilla.org/en-US/docs/Web/HTML/Content_categories#Phrasing_content
However, the &lt;h#> elements are all "Flow" content: https://developer.Mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Flow_content
Actually the opposite would end u

[2015-09-02 14:54] kevinb7 commented on #411
@GoToLoop TIL, thanks for all the links.

[2015-09-02 15:03] kevinb7 commented on #411
The error message is:
[code]

[2015-09-02 15:34] GoToLoop commented on #411
The error message is more or less correct if we examine the resultant DOM layout after browser interprets those "misbehaving" tags:
[code]

When browser "spots" the opening &lt;h1> tag, it abruptly closes previous &lt;p> tag w/ &lt;/p>.
B/c &lt;h1> is a flow content. And only phrasing content is allowed to be inside a &lt;p> tag block.
Therefore, we just ended up w/ an empty &lt;p>&lt;/p> content

[2015-09-02 17:58] jjwon commented on #411
Just a little bit of extra information: slowparse uses [this document](http://www.w3.org/TR/html5/syntax.html#optional-tags) to determine whether there is an "optional" close tag required, and `<p>` can be closed with `<h1>` if they are successive.

Admittedly, this syntax is rather confusing, and Error Buddy doesn't really elucidate much here about the notion of optional closing tags.

[2015-09-02 18:06] GoToLoop commented on #411
Actually, any "flow"-type tags would automatically & forcibly close a paragraph &lt;p> tag.
B/c the &lt;p> tag can't be allowed to accept other "flow"-type tag elements as its content!
Also the end of &lt;/body> automatically closes them.

[2015-09-02 18:09] GoToLoop commented on #411
We can something like this:
[code]
And any modern browser would automatically place all of those missing closing tags automatically!

[2015-09-02 18:24] GoToLoop commented on #411
On 2nd thought, even though the heading elements' reference says only "phrasing" content is allowed:
https://developer.Mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements
The `<p>Some text.` above ended up inside `<h2>Some subtitle` as its content!  @_@
It didn't forced the &lt;h2> tag to abruptly closes itself before the &lt;p> starts.
Seems like HTML is even more complicated than I thought.

[2015-09-02 19:16] jjwon commented on #411
@GoToLoop I think its because `<h2>` only is forcibly closed by `<p>` if the `<p>` immediately follows the opening `<h2>`, according to that w3 link earlier.

[2015-09-02 19:34] GoToLoop commented on #411
I've changed `<h2>Some subtitle<p>Some text.` to `<h2><p>Some text.`.
And the result was the same: the &lt;p> element stayed inside &lt;h2> as its "valid" content.
Even though &lt;p> is of content type "flow" Supposedly not allowed for heading elements!

[2015-09-02 19:49] jjwon commented on #408
I went backwards and found that this broke on commit 8f4e7d4445a12040ded73bae3ee0a4b53b0498f4.

On one hand, I feel like that this is more because this commit fixes some gulp problems, whatever broke this is probably from before.  But at the same time, the only files that are functionally updated here are ace-editor dependencies...

[2015-09-02 20:14] jjwon commented on #193
Isn't this more just a general issue of DRY, rather than anything particular to the `draw` function or any other special functions?

[2015-09-02 22:57] kevinb7 commented on #408
Maybe ace-editor change the event that it generates when a user clicks on an item in the dropdown.

[2015-09-02 23:02] kevinb7 commented on #411
Although browsers automatically close tags, that behavior isn't communicated to users.  So although the error message is correct, it's not particular helpful for users.  I would expect a message along the lines of "<p> tags cannot contain <h1> tags".  That being said, I think fixing this issue will probably require a lot of  effort which may be better spent elsewhere.

[2015-09-02 23:05] kevinb7 commented on #193
It's more best practices than anything else.  If a person were to redefine a mouse event handler inside a requestAnimationFrame callback, that's probably bad for performance and may cause weird issues especially if the previous mouse event handler isn't removed.

[2015-09-03 02:17] MikaalSky opened #413 "Editing the draw loop doesn't reset the canvas properly."
Noticed this while working on a game. When editing functions, the canvas resets properly, unless you're editing the draw loop. If you are, the canvas never resets and it looks like whatever you did isn't working.

[2015-09-03 03:12] kevinb7 commented on #413
Can you post some screenshots or link to an example?

[2015-09-03 03:30] kevinb7 commented on #413
I reproduced this with the following code:
[code]
I was unable to scrub to update either the ellipse or the shape.  I know what the problem is, but the fix is complicated.

[2015-09-03 18:47] Gigabyte-Giant commented on #362
...interesting, this issue isn't surfacing itself anymore.

Firefox 39 on Windows 10 Pro.

[2015-09-03 18:47] #362 closed

[2015-09-03 20:22] kevinb7 commented on #362
@Gigabyte-Giant glad to see it go away.  Thanks for closing this.

[2015-09-04 00:40] JavascriptFTW opened #414 "Unexpected Error In Program Using `debug`"
Recently while attempting to view a program featured on the hot list (https://www.khanacademy.org/computer-programming/3d-much-whee/5008266156441600) I encountered an unexpected error
`__env__628994570.debug is not a function`
The only occurrence of a call to debug I found was on line 120 in the catch section of a try-catch statement. Attempting to use a debug statement in a separate program resul

[2015-09-04 00:45] JavascriptFTW commented on #309
It seems someone was able to get around BabyHint by putting `random(/\/*/);` before their code (https://www.khanacademy.org/computer-programming/bens-module-system/4728010161913856).
Putting a multi-line comment after this statement reactivates BabyHint indicating that BabyHint is considering the body of the regular expression to be the opening of a multi-line comment.

[2015-09-04 01:40] Gigabyte-Giant commented on #414
...what browser are you using? I don't experience this problem on Chrome 44.0.2403.157 (OS is OS X Yosemite)...

The `__env__` prefix gets added during the AST transforms, which is one of my favorite parts of the live editor, so if the problem persists, I'll look into a fix.

[2015-09-04 01:42] JavascriptFTW commented on #414
Sorry. I'm using Chrome 44.0.2403.157 m on Windows 10

[2015-09-04 01:55] Gigabyte-Giant commented on #414
Interesting, I just went to DYs 3D program (which you linked to in the OP), and I **do** see the issue surfacing.

In your test program, it works just fine for me...

[2015-09-04 02:06] Gigabyte-Giant commented on #309
What a clever way of disabling things. This is sorta one of those "why didn't I think of that" things, right?

Anyhow, as ever, a stricter check [here](https://github.com/Khan/live-editor/blob/master/js/output/pjs/babyhint.js#L259-L281), should be able to solve this issue...

[2015-09-04 02:54] kevinb7 commented on #414
Setting `optimizeRestarts = false` fixes this issue.  This bug should be fixed with a change I'm rolling out tomorrow that also fixes https://github.com/Khan/live-editor/issues/413.

[2015-09-04 02:56] kevinb7 commented on #309
We should also have an AST pass that throws if someone includes `return this` in their code.

[2015-09-04 03:00] JavascriptFTW commented on #309
@kevinb7 It should probably be more subtle than that since just throwing an error whenever we find `return this` would break the perfectly innocent practice of method chaining.

[2015-09-04 03:25] Gigabyte-Giant commented on #414
Yep, I noticed that @kevinb7...

I'll keep an eye out for the change, as I'm interested to see what all went into these fixes.

[2015-09-04 14:10] kevinb7 commented on #309
@JavascriptFTW good point.  We'd have to also determine if the function was a constructor or not which is a little trickier.

[2015-09-04 19:04] kevinb7 opened #415 "weird rendering issue in Firefox on Windows 8 and 10"
![khan h for hopper](https://cloud.githubusercontent.com/assets/1044413/9692192/a79142f0-5304-11e5-8c2d-971cccf2fe2c.PNG)

[2015-09-04 19:43] kevinb7 commented on #309
We could insert a check if `this === window` before return `this`.

[2015-09-04 19:44] JavascriptFTW commented on #415
I don't seem to be getting things seem to be rendering fine with Firefox 39.0 and 40.0.3 on Windows 10. The number scrubber is being rendered **underneath** the editor though.
Are there any special steps that need to be taken to reproduce this?

[2015-09-04 19:45] kevinb7 commented on #415
@JavascriptFTW can you post a screenshot of the scrubber issue?

[2015-09-04 19:45] kevinb7 commented on #414
@Gigabyte-Giant this has been fixed by https://github.com/Khan/live-editor/commit/81f67402f1ed1694e023fe950254396bdc01de45.

[2015-09-04 19:45] #414 closed

[2015-09-04 19:46] kevinb7 commented on #406
Fixed by https://github.com/Khan/live-editor/issues/403.

[2015-09-04 19:46] #406 closed

[2015-09-07 03:31] Potato42 commented on #385
At the expense of some storage, you could vastly simplify the whole version problem by giving users the ability to either create their own module for the project or fork an external module for use in their project.  This has the added benefit of allowing users to modify the module for their specific project.  In the UI, forked module tabs could include a way to update them to the latest version al

[2015-09-07 17:00] JavascriptFTW commented on #415
Sorry this took me so long to reply to. Slipped my mind. This is what I'm seeing
![live-editor-bug](https://cloud.githubusercontent.com/assets/8092544/9720829/df96e0d8-5557-11e5-9c21-91e12a25a94f.jpg)
As you can see the scrubber part of the number scrubber apparently has a messed up z-index or something and is rendering underneath the main page content but over the side bar.

[2015-09-08 04:10] pollei commented on #411
P tags can't contain H1 tags or other tags that are merely flow but not phrasing.
for H1, H2 the closing tag is not optional to omit.
http://www.w3.org/TR/html5/syntax.html#optional-tags
http://www.w3.org/html/wg/drafts/html/CR/index.html#elements-1

In this case it's a LTA error message bug.
http://design.perl6.org/S99.html#LTA Less than awesome

https://bugzilla.mozilla.org/show_bug.cgi?id=94639

[2015-09-08 19:37] kevinb7 opened #418 "CSS numbers without units where units are necessary should cause and error"
In this case `top` and `left` should have units after their values.
[code]

[2015-09-08 23:03] kevinb7 commented on #415
@JavascriptFTW I saw this in Chrome on Mac too so I'm guess it's in all browsers.  I'm going to create a separate issue for this because it's unrelated to rendering in the canvas.

[2015-09-08 23:07] kevinb7 opened #419 "Arrows are missing from scrubbing slider when you drag it."
Reported by @JavascriptFTW in https://github.com/Khan/live-editor/issues/415 in Firefox on Windows.  I was able to repro on Mac on Chrome.

[2015-09-09 16:58] Gigabyte-Giant commented on #419
The arrows aren't missing, they just seem to move a bit oddly.
![scrubber-problem](https://cloud.githubusercontent.com/assets/4977819/9768539/f3a9c304-56e9-11e5-9549-1ba8868b750a.png)

Chrome 45.0.2454.85 on Mac OS X Yosemite.

[2015-09-09 17:51] pamelafox commented on #418
I think causing a gutter warning is fine/helpful - Chrome does that sort of thing in the dev tools ("invalid property value") - but an error seems too aggressive in this case.

[2015-09-09 18:21] kevinb7 commented on #418
@pamelafox sounds good.

[2015-09-09 18:23] kevinb7 commented on #419
You're right, I was confused because it's mostly obscured by the popup.  Looks like an ordering issue with the CSS.
<img width="297" alt="screen shot 2015-09-09 at 11 22 38 am" src="https://cloud.githubusercontent.com/assets/1044413/9770465/2e90aeba-56e5-11e5-9b57-4f38b53d9721.png">

[2015-09-10 22:29] MikaalSky commented on #385
Save as Module and then loadModule functions would make sense as well.

[2015-09-11 03:54] jjwon commented on #418
seems there'd be append a lot of information to slowparse to make it validate css.  right now, slowparse just looks for correct structure.

we could consider integrating [csslint](https://github.com/CSSLint/csslint) into live-editor as well.

[2015-09-15 16:54] pamelafox opened #420 "Screenshots of webpages aren't as accurate as they could be"
In the ProcessingJS environment, we can capture a screenshot that looks exactly like the canvas. In the webpage environment, we use a library that makes an attempt at capturing what the webpage looks like, but fails in many ways.

Darryl reported a few via ZenDesk:
"Screenshots of HTML programs are not reflective of its CSS styling, often positioning elements in strange places, and ignoring any te

[2015-09-15 17:21] jaredly commented on #420
Are the screenshots done using [html2canvas](http://html2canvas.hertzen.com/) or similar? Unless you're doing offline screenshotting using phantomjs or similar, it's really hard to get perfect fidelity :( I've looked into this before...
The biggest limitation of client-side javascript screenshotting is that you can't use external resources at all (e.g. Google Fonts or external images).

[2015-09-15 17:23] pamelafox commented on #420
Yeah, I believe that's it. The images are all on kasandbox.org or wikipedia.org, so one potential thing is to proxy them via khanacademy.org (or look to see if we can change a setting in server headers that make <canvas> okay with accessing them-- I'm not super up to date on the canvas/img permissions).

[2015-09-15 17:26] jaredly commented on #420
Looks like CORS-enabled images don't taint the canvas
https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_enabled_image

On Tue, Sep 15, 2015 at 11:23 AM Pamela Fox <notifications@github.com>
wrote:

[2015-09-15 17:37] pamelafox commented on #420
Sweet, that's what I was hoping. I think that'd be a change on our varnish
server config (which proxies S3 files), so that particular change can't be
done in this repo.

On Tue, Sep 15, 2015 at 10:26 AM, Jared Forsyth <notifications@github.com>
wrote:

[2015-09-16 12:41] Gigabyte-Giant opened #421 "TypeError is thrown when you try to use keyTyped after removing keyPressed/keyReleased callback functions"
To reproduce:
 * Open your Javascript console.
 * Navigate to [this program](https://www.khanacademy.org/computer-programming/notepad-wip/6665063086161920)
 * Select all of the code with `Ctrl+A` (or `Cmd+A`); and delete the code.
 * Copy and paste [this code](https://gist.github.com/Gigabyte-Giant/0de4c14a8dc1baddea35) into the program.
 * Shift browser focus to the program (by clicking on the ca

[2015-09-16 12:43] Gigabyte-Giant commented on #421
Just ran a quick test; this **does not** occur for `mousePressed`/`mouseReleased`/`mouseClicked`...

[2015-09-16 13:05] Gigabyte-Giant opened #422 "__env__.frameCount is not a function."
To reproduce:
 * Navigate to a new program
 * Insert [this](https://gist.github.com/Gigabyte-Giant/9516fb4d5af8636cb67c) code into the program.
 * **Observe**

I don't think `frameCount` is supposed to be prefixed with `__env__` when it's in the global scope, is it?

[2015-09-16 15:12] Gigabyte-Giant commented on #422
...I just realized, this isn't actually a bug; `frameCount` is an environment variable, **not** a function. I always get the two mixed up.

My bad!

/close

[2015-09-16 15:12] #422 closed

[2015-09-16 22:47] SpongeJr commented on #351
Any updates on this? I keep bumping into it. It seems to have something to do with how you arrive at the page/scratchpad causing different behaviors-- one way gives you the link redirector, the other way and it tries to open them in the frame. That's about all I've got. Are there two different versions of something somewhere, like blank project scratchpads?

[2015-09-17 00:43] kevinb7 commented on #351
@SpongeJr sorry no update.  Thanks for posting your observations.  I have a hunch though.  There is a function called `postProcessing()` in webpage-output.js which rewrite `<a>` tags.  I think this might be running too early/late.  I recently dealt with another bug where we look at the DOM too early and were missing out on user code in `<script>` tags so the challenges were intermittently failing.

[2015-09-21 00:11] Potato42 opened #423 "Parser error with certain objects in top level variables in Chrome"
I'm not entirely sure if this is meant as a security feature or not, but if you try to put references to `window` or the global program context into top level variables you get an elusive "Parser error" which happens only if you are using Chrome **and** have *any* PJS callback function defined anywhere in your program.
[This program](https://www.khanacademy.org/computer-programming/parser-error-in

[2015-09-21 13:02] MikaalSky commented on #423
Yeah, that is strange. Just having the function be an anonymous function works fine, though, so IDK why you would set it as itself but the callback.

[2015-09-21 17:55] pamelafox opened #424 "UX issue: Pressing enter with color picker open deletes the numbers"
Observed during a workshop this weekend:

A student would use the color picker and press enter while it was still open, thinking that is the way to get out of the color picker. When she did that, the enter would delete the numbers and put the end parentheses on the next line, leading to confusion and messy code.

Maybe we should close the color picker when we get an enter key and the color picker

[2015-09-21 17:59] pamelafox opened #425 "Add a warning about extra space in rgb ()"
Observed at workshop this weekend.

Some students write rgb (), with a space between rgb and the parentheses, which does not work.
They could try to debug that in Chrome by seeing it's an improper property value, but most don't get that far.
We could add a gutter warning about it.

This is a similar issue to https://github.com/Khan/live-editor/issues/268

[2015-09-22 00:03] kevinbarabash commented on #424
That sounds reasonable.

[2015-09-22 00:11] pamelafox opened #426 "playSound issue on iOS"
Reported via ZenDesk.

User says this program results in a JS error on iPad Safari:
https://www.khanacademy.org/computer-programming/playsoundsound/6655307787534336

I tried it in my iPhone briefly and couldn't get the program to load, so it's likely running into an error on iPhone as well. Would need to connect debugging console to verify what the error is.

[2015-09-22 00:42] Potato42 commented on #423
@MikaalSky I can't quite understand what you are trying to say at the end there, but if you are talking about the `pjs` definition (which gets the global program context), it's different from the `win` definition (which gets `window`).  Some esprima stuff turns

    var pjs = function() {return this;};

into

    __env__.pjs = function() {return this;};

So `pjs == __env__`.  My purpose for writin

[2015-09-22 00:46] Gigabyte-Giant commented on #426
...using the Safari Web Inspector, and a simulated iPhone 6 (running iOS 8.4), I visited the program you linked to, and didn't see any errors that don't normally occur, yet the program still wouldn't load.

[2015-09-22 01:16] Potato42 commented on #415
Try pressing Ctrl+0 (reset zoom).  I don't have this issue, and zoomed-in canvases can act strangely.

[2015-09-22 01:19] MikaalSky commented on #415
Not the problem ;)

[2015-09-22 01:21] Potato42 commented on #415
Are you sure?  Zoom out a bit on FF.  Parts of the H start to vanish.

[2015-09-22 01:29] Potato42 commented on #415
In fact, I put the exact parameters in that were used in the screenshot, zoomed out and got the exact result.  Believe me this can be a problem.  I have had a very similar problem (canvas worked on Chrome and as a file:// url, but looked horrible on my webpage) and after hours of searching and testing I discovered that I was zoomed in a little.

[2015-09-22 01:49] MikaalSky commented on #415
I've ran into this without zoom.
On Sep 21, 2015 8:29 PM, "Potato42" <notifications@github.com> wrote:

[2015-09-22 01:57] Potato42 commented on #415
I'll take your word for it, I guess.  Just seems strange that I was able to reproduce the problem exactly by zooming out.  Just to clarify, I'm talking about the H issue, not the number scrubber issue.

[2015-09-22 17:57] IndieKA commented on #387
Hmm. Is console.log supported in KA?

[2015-09-23 00:28] Potato42 commented on #399
Does redefining methods like that pose a security risk?  Personally I think that although the result is pretty nasty if you actually do it, it's not a bug with KA, but a bug with your code.  Redefining Array.prototype.push is a usually a terrible idea - but why stop users from using a polyfill method or extending the prototypes of builtins just because you can break things if you want to.

If you

[2015-09-23 01:00] kevinbarabash commented on #399
Warning against it would probably bet a nicer way of dealing with this issue.

[2015-09-23 01:01] kevinbarabash commented on #387
no it's... once you fix the `ctr` issue you'd see another report for `console.log`

[2015-09-24 04:44] Potato42 commented on #423
I am now getting this error in both Firefox and Chrome.

[2015-09-24 04:57] Potato42 commented on #400
It probably isn't a big deal to override .toString, and if we could do that, we could just add a .__toString or something, but how would it even work?  Sounds like sci-fi to me.

[2015-09-24 17:14] kevinbarabash commented on #423
@Potato42 it is weird that this causes a parse error, but it's low priority since returning this from an unbound method is either a mistake or someone is trying to escape the sandbox.

[2015-09-24 20:05] pamelafox opened #427 "Updating innerHTML with HTML fails in Microsoft Edge Browser"
Reported in ZenDesk

In edge, when you set innerHTML to contain HTML like <em></em>, the entire element disappears:
https://www.khanacademy.org/computer-programming/spin-off-of-challenge-the-inside-story/6064442063323136

I checked it out in Edge on BrowserStack and saw a bunch of CSP-related warnings in console, but not JS errors. It could be some weird implementation of CSP or sandboxing, or som

[2015-09-24 22:19] kevinbarabash commented on #427
I'm glad to hear this.

[2015-09-26 15:37] MikaalSky commented on #427
At least it isn't a browser bug.

[2015-09-26 20:15] MikaalSky opened #428 ""You have unsaved changes" doesn't appear when pasting and searching on chrome."
Lose work. :(

Pasting a word into the url bar and hitting enter doesn't warn about unsaved changes.

[2015-09-26 20:20] MikaalSky commented on #428
Ooo. That might of been a bug.

[2015-09-26 20:40] kevinbarabash commented on #428
I tried pasting a URL into the omnibar in Chrome and when I hit enter the warning about unsaved changes showed up.  I also tried pasting a word to do a search into the omnibar and same result.  What version of Chrome are you using?

[2015-09-26 20:50] MikaalSky commented on #428
Latest. Found that the event must of been unbound or something.

[2015-09-26 23:05] Gigabyte-Giant commented on #428
I tried this on the latest version of Chrome, and I'm not having any issues.

It doesn't matter what I do in the Omnibar; I always get the popup if I have unsaved changes...

[2015-09-26 23:10] Gigabyte-Giant commented on #424
This seems to be occurring with the PJS environment as well...

![colorpicker](https://cloud.githubusercontent.com/assets/4977819/10120293/dbe1a488-6479-11e5-849a-7b1231712a64.gif)

[2015-09-27 01:30] MikaalSky commented on #428
Well, I had the tab open for a while, had tabbed out a lot and stepped away a few times. Not sure if that has anything to do with it.

[2015-09-28 19:01] Gigabyte-Giant commented on #428
This kind-of sounds like a [browserbug](https://github.com/Khan/live-editor/labels/browserbug)...

I'll open one of my Khan Academy programs, make some changes, and leave it there for a couple hours, while going about my regular day; to see if I can replicate what you've described.

Is this the first time this has affected you, or has it happened before?

[2015-09-28 22:22] MikaalSky commented on #428
This is the first time.

[2015-09-28 22:32] Gigabyte-Giant commented on #428
...after 4 hours, I still do not have this problem.

[2015-10-02 02:58] pamelafox opened #429 "Fractional positioning issue with rect()"
Reported on ZenDesk from Peter.

See example program and explanation here:
https://www.khanacademy.org/computer-programming/fractional-positioning-issue-with-rect/5953285063311360

[2015-10-02 15:32] kevinbarabash commented on #429
I believe this should be super easy to fix, although it will require changes to processing-js.

[2015-10-02 15:33] kevinbarabash commented on #429
Some of the commands round coordinates.  Who looks at this bug should also look at the other drawing commands and make sure that all of them draw stuff using the original numbers being passed in instead of rounding them.

[2015-10-02 16:08] Gigabyte-Giant commented on #429
@kevinbarabash The fix for this is indeed very simple, however, they'll need to take place in [Khan/processing-js](https://github.com/Khan/processing-js), correct?

[2015-10-02 16:42] kevinbarabash commented on #429
@Gigabyte-Giant that's right.  We should eventually try to push the changes upstream to https://github.com/processing-js/processing-js/ too.

[2015-10-02 16:47] Gigabyte-Giant commented on #429
Sounds good... I've added this to my to-do list (http://take.ms/7FFc9); I'm going to try and fix one of the AST related issues, and then I'll take a closer look at this one.

[2015-10-02 17:19] kevinbarabash commented on #429
Cool!

[2015-10-02 18:11] MikaalSky commented on #428
Not happening any more. Idk, might of been a huge explosion on my side.

[2015-10-02 18:11] #428 closed

[2015-10-02 19:14] ITkorea commented on #264
var randomCounts = [];
for (var x = 0; x < 20; i++) {   // you have a problem here!!!   not i ++  but x++
    randomCounts[x] = 0;

[2015-10-02 19:22] kevinbarabash commented on #264
@ITkorea once we've determined that "i" is undefined we could determine if there are other variables that are defined that the user might have meant and suggest those.

[2015-10-02 19:39] Gigabyte-Giant commented on #407
@kevinbarabash I finally got around to looking at this, and I [submitted a PR](https://github.com/Khan/live-editor/issues/430) a bit ago.

[2015-10-02 22:53] kevinbarabash commented on #407
@Gigabyte-Giant I'm going to try to review it today or this weekend at the latest.  Thanks for the PR.

[2015-10-02 23:24] Gigabyte-Giant commented on #407
Don't worry, I'm not in any hurry to get it merged, just thought I'd go ahead and try and knock this one off my to-do list.

Have a nice weekend.

[2015-10-04 21:26] pamelafox opened #431 "Live updating not updating for program with mouseClicked"
Discovered during workshop

Steps to replicate:
1. Open https://www.khanacademy.org/computer-programming/project-interactive-diagram/6179666102714368
2. Change x position with number scrubber
4. Notice that it does not update the rectangle position
5. Now rename mouseClicked to 'var mouseClicked2', and repeat. Notice it *does* update rectangle position.

[2015-10-04 21:41] kevinbarabash commented on #431
I'm not sure what I did, but this is fixed on the breakout_code_injector branch.

[2015-10-05 20:49] pamelafox opened #432 "Suggestion for random()"
Reported on ZenDesk by Peter.

Unlike some languages, random(a,b) returns a number
in the half open interval (a,b], which causes
problems with the common use of the floor function.
In particular, floor(random(a,b)) returns non-uniform
integers from a to b, with b almost never occurring.
However, the value b can occur, as shown in the example
random(4.99999999999999999999999,5), which produces the

[2015-10-05 20:51] pamelafox commented on #432
Relevant: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random
(It makes sense to make it match JS's Math.random, I think, but I'm not sure if it'd cause havoc to change the implementation now)

[2015-10-05 21:26] GoToLoop commented on #432
* The trick is to simply truncate the fractional part.
* In Processing's Java & JS Modes we'd use the cast operator `(int)` or call function **int()**:
`int rnd = (int) random(5);` or `int rnd = int(random(5));`
* In JS we've got even more options like parseInt(), double `~~` and my favorite `| 0`.
`var rnd = parseInt(random(5));`, `var rnd = ~~random(5);`, `var rnd = random(5) | 0;`
* There are e

[2015-10-05 21:36] GoToLoop commented on #432
The literal `4.99999999999999999999999` extrapolates the limits of C/Java/JS' `double` number type (IEEE 754).
Therefore `random(4.99999999999999999999999, 5);` is effectively `random(5, 5);` rather than `random(4, 5);`!
Just hit F12 in the browser and type in `4.99999999999999999999999` and `5` will show up instead!

[2015-10-05 22:21] pamelafox opened #433 "In the webpage environment, StructuredJS tests consider single quotes differently from double quotes"
For example, with this pattern:
var matchP = function() {
  var heading = _ + "px";
}

It would not match this code:
var heading = amount + 'px';

I noticed this in the jQuery course and worked around it by using placeholder variables and constraints to check the value.

It's possible this was a regression - I noticed issues in the Cat-stache challenge starting around August 18th that were suddenl

[2015-10-05 23:12] #407 closed

[2015-10-05 23:16] JavascriptFTW opened #434 "Warn Against use of Obsolete HTML Tags in the Webpage Environment"
Browsing around the Khan Academy Computer Science section I've noticed that quite a few students are using obsolete HTML tags in their webpages (specifically `marquee` tags). While these tags may work and produce the desired effects students should be warned that these tags should not be used and can have unintended side effects.

[2015-10-05 23:39] pamelafox commented on #434
I'll admit that I sometimes use <marquee> because its so darn fun. But yes, for tags that are truly deprecated like <marquee>, it'd make sense to add a gutter warning (not an Oh Noes).

[2015-10-06 17:49] pamelafox opened #436 "The ACE editor textarea stops allowing typing sometimes"
I saw this at a workshop this weekend and just got a similar report in ZenDesk.

At some points, the editor will stop responding to key presses - it won't enter new letters or new lines. It will let you change the cursor location however. Reloading the page 'fixes' it.

I looked in the ACE editor repo for related issues and couldn't find any. But it seems possible that updating ACE could fix it, a

[2015-10-06 17:49] pamelafox commented on #436
(It's also possible it's somehow related to our own usage of the ACE editor, like the way we bind events to it).

[2015-10-06 17:52] pamelafox commented on #275
Related way to get access to DOM:
var img = getImage("cute/None");
var body = img.sourceImg.parentNode.parentNode;

[2015-10-06 17:59] Gigabyte-Giant commented on #275
...you can also access the DOM using something like follows:

[code]

[2015-10-07 18:00] pamelafox opened #437 "Possible bug with transformation matrix when updating realtime code"
Peter put together this demo based on a student's help request:
https://www.khanacademy.org/computer-programming/strange-system-bug-version-2/5457874696929280

He noticed that when you press enter, the vortex moves to a new location. The transformation matrix seems to change each time. Theoretically, it should either change upon each frame or never, not just when pressing enter... I think?

I coul

[2015-10-07 20:23] kevinbarabash commented on #437
It's an issue with the program.  The transform isn't being reset so we keep translating.  The reason why the triangles aren't translated off the page is because an interaction with rotate which moves things back on to the page.  Here's an improved version of the program that doesn't have the issue.

[code]

[2015-10-07 20:23] #437 closed

[2015-10-08 02:15] PeterBaum commented on #432
Excellent observation GoToLoop... I stand corrected with respect to my suggestion that random(4.99999999999999999999999,5) evaluating to 5 proves that
floor(random(4.99999999999999999999999,5)) is not uniform with respect to the integers it produces.  However, one can show that numbers within the range of the IEEE 754 double precision format with its 15–17 significant decimal digits of precision,

[2015-10-08 04:27] darrylyeo opened #438 "<p> Tags Don't Autocomplete"
When one types an opening (non-self-closing) HTML tag, the editor auto-completes it with the corresponding closing tag. `<p>` tags, however, seem to be an exception to this.

[2015-10-08 19:13] pamelafox commented on #438
I'm guessing this is an easy pull request, if you want to try making the change yourself.

[2015-10-08 22:47] jjwon0 commented on #438
I think this is because a `<p>` tag can be closed by other tags other than itself.  This is considered in [slowparse already](https://github.com/Khan/live-editor/blob/master/external/slowparse/slowparse.js#L1294).

[2015-10-11 00:11] MikaalSky commented on #432
Changing this would wreak havoc on a lot of programs.

[2015-10-11 00:11] kevinbarabash opened #439 "Use webpack for module chunking"
This will allow us to use CommonJS syntax for requiring modules while maintaining the current chunking of build .js files we have.

The benefit of requiring modules is that we won't be leaking globals everywhere like we are right now and should make the system easier to reason.

Here's an example of chunking in action: https://github.com/kevinbarabash/module_chunking

[2015-10-11 20:34] PeterBaum commented on #432
I  would phrase it "Changing this might wreak some havoc with some programs."  There is already a lot of confusion and incorrect statements surrounding the current behaviour. In particular,

1. The KA documentation page for random (https://www.khanacademy.org/computer-programming/randomlow-high/827911487) , incorrectly states that for random(low,high):
           "low	   the lowest possible number

[2015-10-11 20:51] GoToLoop commented on #432
Only **random()**'s reference from Processing.org site mentions that the "high" parameter is exclusive:
https://Processing.org/reference/random_.html

[2015-10-11 22:17] kevinbarabash commented on #350
Now that we're using babel to transpile code this is now a more serious issue.

[2015-10-11 22:20] kevinbarabash commented on #350
I think it makes sense to tackle this after https://github.com/Khan/live-editor/issues/439.

[2015-10-11 22:22] kevinbarabash commented on #434
Closed by https://github.com/Khan/live-editor/pull/435.

[2015-10-11 22:22] #434 closed

[2015-10-11 22:28] kevinbarabash commented on #432
I think it makes sense to match JavaScript's Math.random().  In order to mitigate the effect that this might have on existing programs we could put out some kind of announcement that describes the difference in behavior.

[2015-10-11 22:33] kevinbarabash opened #440 "changing a single character causes `runCode` to be called twice"
Steps to reproduce:
- write a program the draws a `rect`
- put a breakpoint in `runCode` in live-editor.output.js
- highlight the first char of one of the numbers and change it
- notice that `runCode` fires twice

We should avoid doing this so that we're not wasting CPU/battery.

[2015-10-11 22:52] GoToLoop commented on #432
If so, it's just as easy as typing in **Math.random()** instead of **random()**.
Take notice that PJS' **random()** got some additional stuff like **noiseSeed()**:
http://ProcessingJS.org/reference/randomSeed_/

[2015-10-11 22:57] kevinbarabash commented on #432
It's unfortunate that `Math.random()` doesn't have a seed.

[2015-10-11 23:21] GoToLoop commented on #432
You can add in a more precise but slower **strictRandom()** function for those who need it.

[2015-10-11 23:30] kevinbarabash commented on #432
We need to be able to use a seed even if client code isn't using the seed so that code injection works properly.

[2015-10-11 23:47] PeterBaum commented on #432
I thought randomSeed() applied to random() and noiseSeed() applied to noise().  In the example at
http://processingjs.org/reference/randomSeed_/ where the name is noiseSeed on the page (as opposed to the URL), it gives an example using randomSeed()?!!?!??  There is also a different page for noiseSeed: http://processingjs.org/reference/noiseSeed_/
I also noticed that http://processingjs.org/referen

[2015-10-12 00:22] #271 closed

[2015-10-12 00:23] kevinbarabash commented on #268
Closed by https://github.com/Khan/live-editor/pull/412.

[2015-10-12 00:23] #268 closed

[2015-10-12 00:23] kevinbarabash commented on #425
Closed by https://github.com/Khan/live-editor/pull/412.

[2015-10-12 00:23] #425 closed

[2015-10-12 02:37] kevinbarabash opened #441 "images/ and sounds/ should have the same parent folder"

[2015-10-12 03:00] GoToLoop commented on #432
I suggested **strictRandom()** function as an API addition to PJS.
**random()** should keep its original implementation!

[2015-10-12 04:22] kevinbarabash commented on #432
If a user clicks the "reload" button then we change the seed so that `random()` behaves as expected.  If a user makes an edit we either inject code or re-run some of the code so that it looks like a live update.  In these situations we need to maintain the seed so that objects which rely on random numbers will appear in the same position after the hot-loaded/injected code is run.

[2015-10-12 13:50] Gigabyte-Giant commented on #441
Are you suggesting the `images/` and `sounds/` directory be children of a `resources/` directory (the name could be anything, obviously)?

[2015-10-12 15:03] kevinbarabash commented on #441
That should work.  We also have two copies of all of the images.  I need to have a look at webapp to see where we're serving those files from, but it would be nice if could only have one copy of those in the repo.

[2015-10-12 15:10] Gigabyte-Giant commented on #441
When students use images in their projects on Khan Academy, aren't they loaded from the appropriate child-directories of `https://www.kasandbox.org/third_party/javascript-khansrc/live-editor/build/images/`?

[2015-10-12 15:17] kevinbarabash commented on #441
Yup, that's correct.  I need to track down how those images get uploaded to `kasandbox.org` so that if we change their location they will still get uploaded to the correct spot.  The reason why this is necessary is that their location on `kasandbox.org` is hardcoded in webapp.

[2015-10-12 16:48] Gigabyte-Giant commented on #324
I just submitted a PR that resolves this issue via AST Transforms.

[2015-10-12 17:09] VirusKA commented on #410
so make the margin bigger for mobile phones!

[2015-10-12 18:10] Gigabyte-Giant commented on #441
That makes sense...

[2015-10-12 18:29] kevinbarabash commented on #410
I think we'd probably want to change this so that you can drag anywhere in the editor and have it scroll.

[2015-10-12 21:19] PeterBaum commented on #432
Hopefully this is obvious - any pseudo-random number generator implementation needs to allow the user to set the seed because of the way this function is commonly used.

[2015-10-13 01:09] falsidge commented on #275
This could be used to inject code into the main page by sending errors with scripts.
https://www.khanacademy.org/computer-programming/teste/4939494021791744

[2015-10-13 16:34] pamelafox commented on #441
(Assuming things haven't changed) they're served off an S3 folder, and our varnish proxy makes them appear to be served off of kasandbox.org.

[2015-10-14 21:20] Potato42 opened #443 "mouseScrolled in PJS program scrolls entire page"
The canvas should trap mouse scroll events.  Currently the only way to do this is

    mouseScrolled = function() {
        // jshint noarg:false
        arguments.callee.caller.arguments[0].preventDefault();
    };

which is a horrific abuse of `arguments` and doesn't work in Firefox (I think the `callee.caller` function would need to return false or something).

Listening to `mouseScrolled` woul

[2015-10-14 22:25] kevinbarabash commented on #443
@Potato42 thanks for reporting this.  Nice hack.  Should be able to a better fix by making changes to processing-js.

[2015-10-15 00:18] Potato42 commented on #443
We might also be able to simply attach a different event handler to the mouse scrolled event that fixes this.  IDK though, don't know too much about DOM events.

[2015-10-15 01:31] Gigabyte-Giant commented on #275
...the following can also be used to invoke `document.write`:
[code]

[2015-10-15 01:44] Gigabyte-Giant commented on #275
@falsidge Interesting approach... Using a bit of jQuery and that approach, students can make programs that automatically click the vote up button.

For example, pass the following into `topexec`:

[code]

Then refresh the page. Voila.

[2015-10-15 03:02] lgto4 opened #444 "Processing.js, Javascript object usage leaks memory!"
Refer to the simple demo program at https://www.khanacademy.org/computer-programming/leak/5149570618228736 which simply creates and ignores new objects in the draw function.  The program's memory usage grows without bounds until the browser page fails.

I first noticed the program on a PVector intensive program.  Other users have also complained, including one that observed the tutorial on Partica

[2015-10-15 03:18] lgto4 opened #445 "KA Javascript is now a distinct (and wrong) dialect"
Refer to the simple demo program at https://www.khanacademy.org/computer-programming/wat/5726354510315520 .

The program declares var mouseClciked = inside of the draw function.  Being a local variable, the assignment should have no affect on Processing.js.  Alas, through a rewrite bug the local variable assignment is magically hoisted to a global variable assignment.

This is very bad.  Beginners

[2015-10-15 03:46] kevinbarabash commented on #445
@lgto4 agreed.  This is a fixable problem, but there are many existing programs have have code that does this.  I think that we should first provide warnings against this.  After the warnings have been live on the site for a while then we can change the behavior.  It might also help to have some sort of common mistakes video on the site too.  @pamelafox thoughts?

[2015-10-15 03:56] lgto4 commented on #445
@kevinbarabash: I should hope that the bug is fixable.  There can't be that many programs that have been led astray since the bug was injected with the most recent rendition of the KA infinite loop detector. Furthermore, breakage has never stopped the "forward" progress of KA features. It certainly should not stop the correction of an insidious bug.

[2015-10-15 04:04] kevinbarabash commented on #445
@lgto4 I thought this was always the behavior.  How do you know that this bug started with the loop detector?

[2015-10-15 04:08] kevinbarabash commented on #445
@lgto4 after some investigation, I think you're right about when it was introduced.  This bug should be pretty easy to fix.  I'll try to get to it sometime this week.

[2015-10-15 04:11] lgto4 commented on #445
@kevinbarabash: Thanks for your attention to this issie.  I apologize for sitting on it. I am pretty clueless when it comes to dealing with github...

[2015-10-15 07:50] brew4321 opened #446 "There should be an option to disable infinite loop protection so slower laptops can run larger programs"
I understand the need for infinite loop protection, I remember before there was any loosing some programs because I wrote the wrong code and my program spiraled into an infinite loop and the browser just crashed so hard I couldn't even save my work... that sucks for sure, but on the flip side the current level of protection tends to kill legit programs if they get to large, especially for slower l

[2015-10-15 07:58] GoToLoop commented on #444
JS, like most modern languages, relies on a garbage collector in order to get rid of any objects which aren't being referenced by any variables or properties anymore.
However, JS' GC isn't as aggressive as for example Java's. If we keep creating objects like there's no tomorrow, the GC won't keep up destroying objects as fast as new 1s are made!
I think it's more JS language related than Khan's pj

[2015-10-15 15:51] kevinbarabash commented on #444
I think there might be some things we can do to mitigate this.  We do track instances so we can recreate them if necessary and inject them when a person makes a change to the code.  We could do something about new-ing up an object without storing it in a variable (the linter should probably catch this).  I'm not sure what to do about other objects.  The reason the GC isn't cleaning them up is beca

[2015-10-15 15:55] kevinbarabash commented on #446
I'm really leery about providing an option to disable this b/c it could be abused to create malicious programs which intentionally freeze the browser.

[2015-10-15 16:05] kevinbarabash commented on #445
@lgto4 no worries.  If you have an github related questions, ask away.  There's also a gitter chat room for this project: https://gitter.im/Khan/live-editor.

[2015-10-15 17:56] Potato42 commented on #445
This is an extremely easy to fix bug.  Basically only one line needs to be removed: https://github.com/Khan/live-editor/blob/master/js/output/pjs/pjs-ast-transforms.js#L127.  I believe this should do it https://github.com/Khan/live-editor/pull/447.

However, this will break at least a few programs.

[2015-10-15 17:57] lgto4 commented on #444
@GoToLoop: That is a fine thesis, but can it stand scurtiny?
1. Is Javascript the computer language equivalent of the cheap toy truck that I got for Christmas whose wheels fell off late Christmas evening just because I pushed it around the tree five hundred times?  Should it come it come with a disclaimer: Warning do not use Javascript for serious computing.  Warning: Javascript is known to cause

[2015-10-15 17:59] brew4321 commented on #446
Oh, good call I didn't even think about that... Just brain storming here, but what if instead of a line of code it was a button on the error message with a warning about malicious programs? So if you clicked a link to a malicious program you'd still have to click a button to actually crash the browser, and at that point you would be able to see the code, and other peoples comments if they exist.

[2015-10-15 18:21] lgto4 commented on #444
@kevinbarabash: I don't need the simple test case mitigated.  It is a result of narrowing down a legitimate PVector intensive program (https://www.khanacademy.org/computer-programming/p/6381256892350464) that could not stay up for more than half an hour.

Is this another example of "forward" progress justifying breakage?  The author of this one year old program https://www.khanacademy.org/computer

[2015-10-15 18:27] MikaalSky commented on #446
I'd just suggest moving your program to the webpage environment. Works much better for speed.

[2015-10-15 18:57] Potato42 commented on #445
Wait, never mind, that doesn't seem to work.  -_-

[2015-10-16 02:28] lgto4 commented on #446
@brew4321: Amen to that.  The mechansim need not be a boolean.   In my ideal world it would be a realtime value - "I expect my compute intesive program to consime up to 1234 milliseconds of real time in the draw loop."  Our overlords can constrain that parameter to something reasonable like 5000.

Maybe we can get together and buy them a four year old Intel Atom to test this and other enhancements

[2015-10-16 02:32] lgto4 opened #448 "Yoko Oh Noes does not know that the rect function has eight parameters"
Yoko Oh Noes needs to get up to speed wrt the Processing.js rect function.

`var rectangle = rect;
rectangle(200, 100, 150, 200, 0, 25, 0, 40);`

[2015-10-16 04:21] lgto4 opened #449 ".toString() on functions should return the original user code"
The Khan Academy Javascript compiler now strips comments from functions and objects when it recasts them into its  __env__ venacular.  I and hand of others would appreciate it if the compiling left the comments intact.

[2015-10-16 14:39] Gigabyte-Giant commented on #449
Out of curiosity, might I ask *why*?

The comments aren't removed from the code that we see (as you know), they just aren't in the code that goes through the code injection and AST transforms.

[2015-10-16 14:52] MikaalSky commented on #449
@Gigabyte-Giant People really like to read from the comments in functions for things like writing custom "code" and parsing it with a custom parser. Some people even write custom markup parsers and send it through like that.

[2015-10-16 14:53] MikaalSky commented on #448
True. Current workaround until this gets fixed to be more lenient:
rect(x,y,sX,sY,
r1,r2,r3,r4);

[2015-10-16 14:54] Gigabyte-Giant commented on #449
Fair argument, however, before this can really move forward, something needs to happen with [this](https://github.com/Khan/live-editor/issues/400), agreed?

[2015-10-16 14:56] MikaalSky commented on #449
@Gigabyte-Giant Solving that issue would also solve this issue, so yes.

[2015-10-16 15:07] Gigabyte-Giant commented on #400
@kevinbarabash, @MikaalSky: We'd really only need to override `Function.prototype.toString`, correct?

[2015-10-16 15:45] kevinbarabash commented on #400
Yes that is correct.

[2015-10-16 15:53] kevinbarabash commented on #449
In solving https://github.com/Khan/live-editor/issues/400 we could tell esprima to attach range information to the AST and then use that to grab a substring of the original user code based on the range of each FunctionExpression node.

[2015-10-16 16:03] kevinbarabash commented on #448
This should be a pretty easy issue to fix.  A person should be able to add additional optional params to the entry for `rect` in autosuggest.js.

[2015-10-16 19:59] JetStarBlues opened #450 "Support for isFinite()"
[isFinite()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/isFinite) does not seem to work in the Khan Academy pjs environment.
Error buddy says `__env__.isFinite is not a function`.

If try to use as `Number.isFinite()`,
error buddy says `Cannot read property 'isFinite' of undefined`

Possible use case for isFinite() is a check for division by zero.

[2015-10-16 20:25] GoToLoop commented on #450
I wonder whether **window.isFinite()** would cheat the "Oh noes"?

[2015-10-16 20:34] JavascriptFTW commented on #450
This is a simple fix. Just mess with some stuff in `pjs-ast-transforms.js` to tell it to not prefix `isFinite`.

[2015-10-16 20:44] JavascriptFTW commented on #450
Scratch that. Looking around it would be more consistent to add it in `pjs-code-injector.js`

[2015-10-16 20:49] kevinbarabash commented on #450
Yup.  If someone wants to submit a PR for this it would be much appreciated.  The change should happen here https://github.com/Khan/live-editor/blob/master/js/output/pjs/pjs-ast-transforms.js#L118-L120.  @JavascriptFTW what change were you thinking of making in `pjs-code-injector.js`?

[2015-10-16 20:53] JavascriptFTW commented on #450
@kevinbarabash I was saying that it seems to be more consistent with the style of the project to fix this bug by editing `pjs-code-injector.js` rather than `pjs-ast-transform.js` since the latter is dealing with constants and the former is actually attaching global methods to the environment (which is what this issue needs)
For reference:
https://github.com/Khan/live-editor/blob/master/js/output/p

[2015-10-16 20:58] kevinbarabash commented on #450
@JavascriptFTW good call!  I forgot that `isNaN` is copied there.

[2015-10-16 21:43] Gigabyte-Giant commented on #448
Just in case anyone is interested, and if I'm not terribly mistaken, the changes should go [here](https://github.com/Khan/live-editor/blob/master/js/ui/autosuggest-data.js#L21-L33).

[2015-10-16 22:27] lgto4 commented on #449
@Gigabyte-Giant: I have programs that emit code. It would be much better of the comments came along with the code.  My code is obtuse enough *with* the comments.  Examples include https://www.khanacademy.org/computer-programming/button-generator/1847123742  https://www.khanacademy.org/computer-programming/handbook-of-collisions-and-interiors/5567955982876672  and  https://www.khanacademy.org/compu

[2015-10-16 22:29] Gigabyte-Giant commented on #449
@lgto4 got it, thanks.

[2015-10-16 22:30] lgto4 commented on #449
It's pretty easy to write your own filter to remove the __env__ glop.  Besides, if you can't see it, then how can you work around it?

[2015-10-16 22:54] JetStarBlues commented on #450
Thanks for looking into this!

[2015-10-17 02:26] JavascriptFTW commented on #440
I've looked into this, and some investigation has turned up something that may or may not be the cause.

The `runCode` has [a call to `lintDone`](https://github.com/Khan/live-editor/blob/master/build/js/live-editor.output.js#L549) within it. `lintDone` contains [a call to `output.runCode`](https://github.com/Khan/live-editor/blob/master/build/js/live-editor.output.js#L574). `output.runCode` is cre

[2015-10-17 02:35] kevinbarabash commented on #440
@JavascriptFTW there are a couple of different `runCode` methods defined in `LiveEditorOutput` and `PJSOutput`.  The LEO calls the PJSO one.  Also, LEO's `output` points to PJSO and PJSO's output points to LEO.  It would be nice if these things weren't named so similarly.

[2015-10-17 03:46] Gigabyte-Giant opened #451 "Light-grey overlay is shown while a talk-through is playing"
...the same overlay that gets shown when the Big [Error] Buddy is opened:

![overlay-prob1](https://cloud.githubusercontent.com/assets/4977819/10556857/a2d25eba-7457-11e5-8775-6b630934a87d.png)

The overlay isn't just when there's an error, it's all the time.

Google Chrome 46.0.2490.71 on Mac OS X El Capitan.

[2015-10-17 05:29] JetStarBlues commented on #450
I know very little about the KA codebase...
Is the solution as simple as @JavascriptFTW 's suggestion of adding,
`this.processing.isFinite = window.isFinite;` to [here](https://github.com/Khan/live-editor/blob/master/js/output/pjs/pjs-code-injector.js#L132)?
If that's the case and if people are busy I can give it a go.

[2015-10-17 15:12] JavascriptFTW commented on #445
I've been looking into fixing this the past few days, and it's actually more difficult than it seems at first glance. I've "fixed" the basic problem reported in this issue, but while testing I've discovered that there really isn't an "easy" fix that covers all cases.
I've made some examples of the edge cases of this issue that I've discovered [here](https://www.khanacademy.org/computer-programming

[2015-10-17 17:14] Potato42 commented on #445
@JavascriptFTW Wait, are you trying to stop the edge-cases from working or make them work?  I can't see why they shouldn't work as something like

    var x = 2;
    var y = function() {
        var z = function() {
            x = 3;
        };

        z();
    };
    y();

    println(x);

works, but if they don't work, we should just tell rewriteContextVariables about those functions being in

[2015-10-17 17:23] Potato42 commented on #450
Why don't we allow `Number`? It would be easier to fix by just allowing `Number` which would then have the `isFinite` method.

[2015-10-17 17:28] Potato42 commented on #446
@MikaalSky Perhaps this should be a separate issue, but I've found that the webpage environment is far more liberal at giving out infinite loop warnings.  It could just be how the environment is used and I haven't looked into this very well, but it really seems like the most minimal loops eventually cause the program to freeze (although not usually immediately).

[2015-10-17 17:32] lgto4 commented on #445
@JavascriptFTW I looked at your three test cases.  I'm not sure if the invocation of println in the latter two indicates disappointment.  In the later two cases, a function is simply assigned to a global variable, so we are happy to see println invoked.

In the first case, the keyword `var` indicates that the variable is local to the function.

[2015-10-17 17:44] lgto4 commented on #445
@JavascriptFTW Why is it in my case (your case #1), if I change the local variable name from "mouseClicked" to "red", the program is apparently flawless?  Similarly, if I remove the var prefix, I get the expected complaint from Yoko Oh Noes.

I am mystified about the attributes of "red" versus those of "mouseClicked" wrt the KA Javascript compiler's rewriting rules...

[2015-10-17 18:01] JavascriptFTW commented on #445
@lgto4 The invocation of `println` in the latter two test cases is unexpected behaviour. What they _should_ do is set the _local_ variable `mouseClicked` (according to how scope works), but what they actually do is set the global variable which is not at all how JavaScript (or most languages for that matter) works.

I'm not entirely sure what you mean about "red" vs. "mouseClicked".

[2015-10-17 18:02] JavascriptFTW commented on #445
@Potato42 I'm trying to make the edge cases work _properly_.

[2015-10-17 18:40] Potato42 commented on #445
@JavascriptFTW If you leave out `var` in JavaScript, you modify the global scope.  That's how JavaScript works.  Go ahead and test it if you don't believe me.

[2015-10-17 18:40] lgto4 commented on #445
@JavascriptFTW  My bad!  I assumed that program was used to generate three different test programs, each program with only one of the three cases...

In _my_ test program if if I change the local variable name from "mouseClicked" to "red", the program is apparently flawless.

Both "red" and "mouseClicked"  are Processing.js defined global variables.  Why doesn't this bug affect "red"?

[2015-10-17 19:10] JavascriptFTW commented on #445
@Potato42 I'd recommend that you run this

    var a = 2;
    var b = function() {
        var a = 3;
        a = 4;
    };
    println(a);

and tell me if it prints out 4, since that is effectively what you are saying will happen.

[2015-10-17 20:52] kevinbarabash opened #452 "Add try-catch around all code inside event handlers and draw loops"
The reason being is that when the loop protector throws an error, it's thrown in a separate execution stack from the one that started executing the users code and there's no way to catch it without mocha catching it and thinking it's a failure.  Fixing this issue would allow us to automate running all of the tests.  In the meantime I'm going to split up the tests into suites of tests that can be a

[2015-10-17 22:42] pamelafox commented on #450
I think it'd be fine to add Number to the array of objects we expose. I
generally like moving towards supporting all of JS when possible. I've
added Math and Array to that array before and it should be a simple change.
Please include a test case as well.

On Sat, Oct 17, 2015 at 10:23 AM, Potato42 <notifications@github.com> wrote:

[2015-10-17 22:49] pamelafox commented on #451
Ah, it's related to the fact that you're being served the
new_error_experience all the time, interesting. (Doesn't happen for the old
oh noes). I'll take a look at that on Monday.

[2015-10-18 00:04] hzoo commented on #320
Oh should of mentioned that ES6 is basically standardized already across the parsers with ESTree - Also https://github.com/babel/acorn-to-esprima is it's own module now

[2015-10-18 02:10] kevinbarabash opened #454 "improve new oh-noes guy image set"
A couple of ideas:
- use consistent colors for each pose
- create SVG versions (the are some SVG avatar images in webapp but they're not same shape as the current PNG versions)
- use additional poses, e.g. open mouth smile when the user fixes an issue

See https://github.com/Khan/live-editor/pull/344 for image variants.

[2015-10-18 16:13] MikaalSky commented on #454
I should note that the eyebrow angle should be edited on each different face.

[2015-10-20 03:53] JetStarBlues commented on #450
So, I was going to do a pull request. But I noticed my build on Windows added a lot of unnecessary changes. See, https://github.com/JetStarBlues/live-editor/commit/ac9f95349e6d2815201d4b776f87b89ffbb0c74c
At the very end of all that mess are the two things I did change as per the discussion above.

---
The demos/simple works for Number.isInfinite(). But I was unable to run the gulp tests.
Instead

[2015-10-20 07:38] kevinbarabash commented on #450
@JetStarBlues gulp-eol is supposed to write files with "\n" for line endings instead of "\r\n".  Fore some reason it doesn't seem to be working.

As for the "Timeout: tests did not start." issue it looks like it's either something to do with phantomjs... maybe how/where we're trying to load pages from... maybe the fact that we're not dealing with paths in a cross platform way.

[2015-10-21 23:42] JetStarBlues commented on #450
I went ahead and installed Ubuntu and tried again https://github.com/JetStarBlues/live-editor/commit/f04e45eb179c1cc183aec37d2bc4234b918728d8
The docs say to include the build files ... but there seems to be an awful lot of unrelated code when you do this?

[2015-10-22 01:22] brew4321 opened #455 "Undefined object properties subjected to the decrement operator should throw an error"
So I was working on a help request where the student did some _crazy_ things, like setting an object property equal to the image function `this.health = image(...`, and later trying to decrement the property `ship.health--;` ...and then trying to display the result in the text function. Anyways while I was messing with this program I discovered that `text(undefined--,200,200);` throws an error whi

[2015-10-22 15:44] Gigabyte-Giant commented on #455
I could see where an error *should* be thrown, but, even in vanilla Javascript, an error isn't thrown...

For example, try running this in your browser console:
[code]

...`NaN` is logged.

[2015-10-22 19:40] JavascriptFTW commented on #450
@JetStarBlues Wow. What editor are you using? Your editor may be trying to do something funky with the files.

[2015-10-22 20:46] MikaalSky opened #456 "For some reason, I'm not seeing the new_error_experience?"
This is probably something related to Khan and my account but for some reason I am unable to see the new error experience without the url parameter.
![Screenshot](http://take.ms/VJNiw)
With the parameter it works fine.
The reason why I think this is weird is because I've seen other people logged in with the new error buddy on by default.

[2015-10-22 20:54] pamelafox commented on #456
We are only serving it to 10% of users by default right now, while I monitor the usage. You'll need to use the URL parameter if you'd like it all the time, as you're in the 90%.

[2015-10-22 20:54] #456 closed

[2015-10-22 20:55] MikaalSky commented on #456
@pamelafox Ah, didn't know that. No problem.

[2015-10-23 00:35] JetStarBlues commented on #450
@JavascriptFTW Sublime Text.
Will give it one more go from scratch. To double check, procedure is,

    git clone
    git submodule update --init --recursive
    npm install
    bower install
    gulp
    // make your edits
    git commit

Thanks for your time!

[2015-10-23 01:05] kevinbarabash commented on #450
@JetStarBlues verify that there are no changes to the build files after running `gulp`.

[2015-10-23 03:11] JetStarBlues commented on #450
@kevinbarabash from just the build (and before making any changes to the code), `git status` shows that these files were modified,
- build/js/live-editor.audio.js
- build/js/live-editor.ui.js
- build/tmpl/tipbar.js

[2015-10-23 05:33] alexristich opened #457 "UX issues with tooltips"
Four issues:

1) I noticed a flicker when clicking from within the body of one function to anywhere else in a program.

For example:
[code]

Say my cursor is between the "g" and "e" of `getImage()`. If I then click onto one of the parameters of `point()` then the tooltip for `image()` will flicker briefly before disappearing.

2) When the cursor is within the body of a function where tooltips are

[2015-10-23 16:14] kevinbarabash commented on #457
I'll have a look at it over the weekend.  You could try it without the `setTimeout` and see what happens.

[2015-10-23 16:58] alexristich commented on #457
Sure thing. I ask actually because I did try it, and removing `setTimeout` in this case fixes the flicker issue noted in item 1. It also results in a more consistent behavior between the mouse and keyboard, and I think a better user experience as well.

I ran the tests and there seems to be no difference in tests passing/failing when removing this, and couldn't find any cases where anything was br

[2015-10-23 17:31] PeterBaum commented on #432
At the KA "help desk" I still see people stumbling over the random() issue, primarily because there isn't clear documentation for the function (that documentation uses the word "between" without words like "inclusive" or "exclusive" or open/closed interval).  I thought I would update the demo program I had written for this issue, in particular, adding an explanation about how to determine the open

[2015-10-23 17:39] MikaalSky opened #458 "Programs "Taking too long" instantly now."
![Example](http://take.ms/KuCeO)
Programs that worked fine are now just dying right away before they even get a chance to execute. Not sure the cause.

[2015-10-23 19:01] pamelafox commented on #458
https://www.khanacademy.org/computer-programming/minecraft-ke-noise-bedrock/5971033575129088

@kevinbarabash  Yesterday's deploy included your injector change, so probably related to that?

[2015-10-23 22:36] kevinbarabash commented on #458
Yikes!  I will have a look into it this weekend.

[2015-10-23 22:37] kevinbarabash commented on #458
It works alright on my machine, but it could freeze up on slower machines.  @MikaalSky what are you running it on?

[2015-10-24 00:24] MikaalSky commented on #458
@kevinbarabash i3 2.67 GHz I believe. Locks up on every machine I try which is unacceptible because it worked on chromebooks before.

[2015-10-24 00:55] alexristich commented on #458
I can confirm it's the same problem for me on a i5 1.8GHz 2012 MBA.

[2015-10-24 01:51] MikaalSky commented on #458
It seems to be happening to most problems with a lot of for loops.

[2015-10-24 01:51] MikaalSky commented on #458
Programs***
Github for mobile.

[2015-10-24 04:19] Gigabyte-Giant commented on #458
I can also confirm that this is occurring on my machine.

Processor: 3.2GHz i5
16GB of RAM

[2015-10-24 04:22] alexristich commented on #448
Hmm, this one's a little trickier than it first appeared. Adding tl, tr, br and bl params is possible, but it doesn't make sense to just tack them on as is. The current `rect` has `radius` as the fifth optional param, so adding these onto the back either means (a) having `radius` along with tl, tr, br and bl and having a clever way to ignore the fifth param, or (b) replacing `radius` with these mo

[2015-10-24 06:01] Potato42 commented on #458
Doesn't always happen instantly.  Programs such as [this one](https://www.khanacademy.org/computer-programming/bouncing-on-the-sky/6681224671133696) work fine for a while, then "take too long".

[2015-10-24 06:57] kevinbarabash commented on #448
@alexristich I think that we'd probably have to rework how we're storing params for overloaded functions.  Right now we only have the concept of optional params.  What I'd like to have is a list of function signatures that a user could cycle between when the autohint pops up.  I think that would address the issues that you've identified.

[2015-10-24 06:58] kevinbarabash commented on #458
I've got much trust MBA out have been able to repro the issue.

[2015-10-24 15:19] CharlotteAuen opened #459 "Touchscreen and mouse conflict"
I've been testing some visualizations (JS programs written on KA's site) that I'm planning to include in articles.  They work fine for the mouse.  I can use my Windows 8.1 touchscreen on them.  If I then try to use the mouse again, though, there is no response.

Here is [one program demonstrating this difficulty](https://www.khanacademy.org/computer-programming/cavalieri-principle-wsliders/5503479

[2015-10-24 18:46] alexristich commented on #448
Funny you mention that. When I first used the editor I wondered myself whether something like that might be better. I've been thinking about it for a bit here and, aside from any UI decisions, have a few questions of how this might best be accomplished.

Presumably it would need to include the following:
1) An update to Oh Noes error checking logic so that it searches all the functions with a spec

[2015-10-24 18:58] kevinbarabash commented on #459
After some investigation it appears that as soon as processing-js detects a touch event it unbinds all mouse events.

[2015-10-24 23:39] kevinbarabash opened #460 "get `npm test` to fail with a non-zero return code if any of the tests fail"
See https://travis-ci.org/Khan/live-editor/builds/87243982 for an example of a test run that should've failed.

[2015-10-25 00:19] kevinbarabash opened #461 "stop using `with` to run test code"
Removing the remaining uses of `with` will make our test running code run faster which will allow us to have more tests in the challenges.  @pamelafox

[2015-10-25 00:20] kevinbarabash commented on #461
It's being used in `output-tester.js`, `sql-output.js`, and `webpage-output.js`.

[2015-10-25 01:00] pamelafox commented on #461
Ahh, nice idea!

[2015-10-26 08:16] alexristich commented on #457
I just submitted a PR for this one. I haven't yet been able to figure out how to fix the third issue - the editor is behaving differently when the selection is preceded by a `)`, and this is affecting the event that doRequestTooltip is passing to the emitter. I'm a little stuck here to be honest, so I'm submitting fixes for 1, 2 and 4 for now, and will see if I can track down exactly what's happen

[2015-10-26 13:26] IndieKA commented on #458
MikaalSky, you went to GitHub? So you practically left KA for GitHub. Wise choice.

[2015-10-26 13:27] MikaalSky commented on #458
@IndieKA Please don't talk about that here.

[2015-10-26 23:42] IndieKA commented on #458
@MikaalSky Sorry, just needed some way to talk to you. I'll delete my comment.

[2015-10-27 02:15] kevinbarabash commented on #458
This is fixed by https://github.com/Khan/live-editor/commit/ac06ee7d50cc6d0d8c48e665760911001f3b4ffd

[2015-10-27 02:15] #458 closed

[2015-10-27 02:18] kevinbarabash commented on #457
If you can't solve 3 right now, that's okay.  We can open a separate issue for it.  I think the fluff is getting rid of trailing whitespace which is good so it's okay.

[2015-10-28 04:28] JetStarBlues opened #463 "Option to include or exclude project evaluation in embedded project"
At the moment, the project evaluation module is included in the `<iframe>` generated by the embed code.

I think it should be optional whether it appears since on the client side, it is not possible to hide the evaluation module `$(".scratchpad-project-eval-mount")` using css due to cross-origin.

![evalmodule](https://cloud.githubusercontent.com/assets/4354703/10779674/b37a6870-7cf9-11e5-9484-8d8

[2015-10-28 16:34] kevinbarabash commented on #463
Where are you getting the embed code from?  The "Share" button on the site generate embed code which only shows the canvas and optionally the editor and some buttons.

[2015-10-28 17:34] JetStarBlues commented on #463
I got the embed code from the "share" button. This happens only for programs that are "projects" such as [Project ad design](https://www.khanacademy.org/computing/computer-programming/programming/text-basics/p/project-ad-design) where evaluation can been requested.

I just realized right now that despite the module always being present, it only has content when you are logged in to khan and it is

[2015-10-28 17:34] #463 closed

[2015-10-28 17:45] kevinbarabash commented on #463
Cool, I didn't realize that.

[2015-10-28 18:24] pamelafox opened #464 "debug() is displaying the Program object, not what's passed to it"
Reported by Darryl on ZenDesk

1. Open https://www.khanacademy.org/computer-programming/debugarg1-arg2-processingjs/939146973
2. Open console.
3. See "Object"
4. Expand object and see it contains Program object.

Expected: the arguments passed to debug().

[2015-10-28 18:33] pamelafox opened #465 "Infinite loop freezes up browser; doesn't display loop protector error"
Reported in ZenDesk.

Students code locks up browser (Chrome) instead of showing infinite loop error.

The code was:
[code]

[2015-10-28 19:16] Potato42 commented on #464
Interesting.  Based on `println(debug);`, it almost looks like the `arguments` in the debug function is being automatically replaced by a variable that contains the arguments of another function or something.

[2015-10-29 02:54] kevinbarabash commented on #465
This is a really weird bug.  The loop detector works in this situation but you have to wait a really long time for the message to show up.  I tried a `for` loop with just a `debug` message, no problem.  It appears that `draw` commands are queued up by Chrome somewhere and after the execution stack finish running then all the draw commands are run.  The problem is that we queue up like a bazillion

[2015-10-29 02:57] kevinbarabash commented on #465
I guess we could have a maximum number of draw calls before with trigger the loop protector triggers, just wrap all processing draw commands so that they update a counter somewhere and check that the counter doesn't exceed a certain amount.

[2015-10-29 03:00] kevinbarabash commented on #465
@pamelafox I don't think this was a regression but rather us not testing with draw functions.  I'll see what I can do about this this weekend.

[2015-10-29 03:25] kevinbarabash commented on #464
This is caused by the fact that fat arrow functions can't access `arguments`.  I'm rewriting this to use rest parameters to pass all arguments to `console.log`.

[2015-10-29 03:35] alexristich opened #466 "Image picker not updating properly after changing image"
When you use `getImage` it triggers the image picker to appear. Hovering over reveals a set of images, and clicking on an image updates the text in the code to refer to that image. However, when you move the mouse away (`mouseleave`), the small popup still shows the previous image.

I made a quick fix that hides it altogether on the `mouseleave` event, but I imagine the preferred behavior is to ha

[2015-10-29 05:20] kevinbarabash commented on #466
I've noticed that too, but never reported it.  Thanks for opening an issue.

Looking forward to it.

[2015-10-29 05:25] alexristich commented on #466
A little surprise... the fix is already ready :) Freshly pushed to my fork. If you don't mind, I'll wait to submit another PR until I've fixed that other pesky tooltip-related bug (hopefully later this week).

[2015-10-29 14:44] SpongeJr opened #467 "Modal dialogs in iframe and CSP"
We used to be able to use alert() and other modal dialog boxes and such. Now we see messages along the lines of: `Ignored call to 'alert()'. The document is sandboxed, and the 'allow-modals' keyword is not set.` in Chrome, but not Firefox.

I'm pretty sure it's due to this relatively new feature of Chrome:
https://www.chromestatus.com/feature/4747009953103872

Came across as a result of [this Help

[2015-10-29 16:20] kevinbarabash commented on #466
Sounds good.  For future PRs, you may want to try using branches to avoid unnecessary dependencies.

[2015-10-29 16:24] kevinbarabash commented on #467
Thanks for the report.  Adding `allow-modals` to the CSP sounds like an easy fix.

[2015-10-31 02:18] brew4321 opened #468 "Text in the ACE editor sometimes shows up as a unicode box when you: highlight, right click, and try to do a "search google for""
I'm trying to upload a picture because that will be worth a thousand words...

![search google for question mark](https://cloud.githubusercontent.com/assets/15134841/10861401/315ac974-7f43-11e5-9f69-9e08a8ed3bb7.jpg)

[2015-10-31 15:12] pamelafox commented on #468
Can you file this in the ACE editor repo?

[2015-10-31 18:07] brew4321 commented on #468
Sorry, fairly new to using git hub, and I saw the error on khan academy, and I'm not even sure where I read that it uses something called an ace editor. Anyways, I did search around a bit.. is this: https://github.com/ajaxorg/ace the editor you guys use for khan academy? And, if I understand correctly, as they make the editor better you guys can bring in the new code into this project?

[2015-10-31 18:59] brew4321 commented on #468
Submitted it here: https://github.com/ajaxorg/ace/issues/2740

[2015-11-01 20:54] IndieKA opened #469 "Should teach better ways of keyCode"
A few days back I was scrolling through the challenges of Advanced JS: Natural Simulations and I noticed that in one of the challenges, the way `keyPressed` was organized is horrible.

In Challenge: Turning car, the user has to write the following for Step 1:
[code]

The following system usually works, but sometimes glitches out. I think that we should create a better method for this. User @Dillin

[2015-11-01 22:47] LoganDark2 opened #470 "Support PGraphics"
PGraphics are somehow unsupported, and I think they would be very useful. The problem is, the version of Processing.js is outdated, preventing us from using the newer features.

[2015-11-01 23:07] kevinbarabash commented on #469
There's another benefit of this suggestion.  It allows you check if multiple keys are pressed at the same time.  The could should probably use a `{}` instead of a `[]`.  My concern about this is that if we make this a built-in part of the environment then we're deviating from standard processing.

[2015-11-01 23:08] kevinbarabash commented on #470
I would like to update processing.js, but haven't had time.  Also, our fork of processing.js has changes that would either need to be pushed upstream or ported to the newer version.

[2015-11-01 23:57] IndieKA commented on #469
Agreed.

[2015-11-02 02:19] LoganDark2 commented on #470
Could you possibly add support for PGraphics? I need a way of displaying
multiple layers. Such as in my Draw+ program, I need a way of displaying
some sort of cursor while maintaining the image below. I have considered an
array of what has been drawn, but it would be too hard to implement.

If you can't add support for PGraphics, I would really love it if you did
update Processing.js.

[2015-11-02 06:11] kevinbarabash commented on #470
You can use PGraphics.  Here's a code snippet that should work.  The third argument corresponds to the renderer.
[code]

[2015-11-02 15:49] MikaalSky commented on #448
Params: { "required" : ["params"], optionals: [["inside", "bundles"], ["for seperate situations"]] }

[2015-11-02 15:55] MikaalSky commented on #446
Just having a switch on the page to axe it wouls be fine but having a URL param would destroy everything.

[2015-11-02 20:14] pamelafox commented on #468
Thanks! That's the right place to file it. I usually try to replicate it on the ACE demo page first before submitting, to prove that it's an issue with their editor:
https://ace.c9.io/#nav=about

Yes, we'll ideally update our version of ACE editor when we have the time to do so.

[2015-11-03 00:24] pamelafox commented on #306
I can close this now, yay!

[2015-11-03 00:24] #306 closed

[2015-11-03 00:30] kevinbarabash commented on #446
I'd like to eventually get away from the kind of loop protecting that we're doing because it's very rigid.  I'd like to eventually have each function be a generator and have each of them `yield` at least at the start and inside each loop.  `yield`-ing allows us to escaping from running user code and re-enter at exactly the same position.  Each time we `yield` we could check how much time has elaps

[2015-11-03 01:10] Potato42 commented on #446
That would be amazing, except how would you deal with user defined generators?  Because I like generators a lot and would want to use them frequently if they ever stopped throwing esprima? errors when you try to use them in the pjs code environment.

[2015-11-03 02:22] kevinbarabash commented on #446
@Potato42 live-editor currently doesn't support generators or any ES6 language features yet.  Once we get there I'm sure we'll be able to come up with some way to differentiate them via some sort of AST transform.

[2015-11-03 03:04] alexristich commented on #466
Ah, will do that as well! A bit new to all this stuff, so I appreciate the tips as I get more familiar with it. I see my latest push got joined with the same PR, so I'll go ahead and create a branch this week where I'll push some more updates, then submit a PR from that branch.

[2015-11-03 18:22] pamelafox opened #471 "Mistaken report of <html> not being root element"
See: https://www.khanacademy.org/computer-programming/spooky-tales-and-stories-more-to-be-added/6596458032267264
Notice it has a warning next to <html> about it being the root element. However, it appears to be.

[2015-11-03 18:41] Gigabyte-Giant commented on #471
The warning is being shown due to the fact that the `style` tag is outside of the `html` tags. If you move the `style` tag inside of the `html` tags, the warning goes away...

I'm guessing it's reading the `style` tag as the root element...

[2015-11-03 18:42] kevinbarabash opened #472 "scrolling inside the iframe should not scroll the host page when you get to the bottom."
This is a really annoying behavior of browsers in general where you scrolling something inside a container and then you get to the bottom and the whole page scrolls so that thing were looking at is outta sight.

[2015-11-03 18:50] kevinbarabash commented on #472
A quick fix is to set/unset document.body.style.overflow = 'hidden' when the mouse cursor enters/leaves the iframe.  It's pretty slick because it doesn't affect the current scrollTop of the document.  Details here: http://stackoverflow.com/questions/10211203/scrolling-child-div-scrolls-the-window-how-do-i-stop-that

[2015-11-03 20:48] pamelafox commented on #471
Ahh, nice catch! Right, so it'd be helpful if it knew that and messaged that.

[2015-11-03 21:07] Gigabyte-Giant commented on #471
The simplest way to **get rid** of the warning, would be to change `!==` to `<` [here](https://github.com/Khan/live-editor/blob/f15b88c51a06881671ccf516e89ae48647b82566/external/slowparse/slowparse.js#L1491).

You might also be able to add a clause that checks if the length of `this.domBuilder.currentNode.children` is *greater than* 1. If it is, then, in theory, there are elements **outside of the

[2015-11-04 07:53] alexristich commented on #457
Kevin, I don't think I'm going to solve number 3 any time soon :) I spent another good while at it today without any luck. Here's what I've found so far, using the example below for reference:

`image(getImage("avatars/leaf-blue"), 0, 0, 100, 100)`

1) If I click on `getImage` then the tooltip for `image` shows properly. If I click on the comma after `getImage`, the tooltip does not show.

2) In t

[2015-11-04 16:24] pamelafox commented on #467
To clarify, this isn't part of our CSP (which is set on the server), it's part of the <iframe sandbox> attributes (which are set in HTML). I'm making the change now.

[2015-11-04 17:21] pamelafox commented on #467
Deployed!

[2015-11-04 17:21] #467 closed

[2015-11-04 17:42] kevinbarabash commented on #467
Yay!

[2015-11-04 19:30] pamelafox commented on #411
My consultant just triaged our HTML/CSS challenge reports and identified <h1> inside of <p> as the most common source of Oh Noes confusion, thus upping the priority of this issue.

[2015-11-05 01:18] IndieKA opened #473 "throw functions not working"
Just so you know, the new error experience is not compatible with `throw();`
Plagiarism has become a big thing on Khan Academy, and some programmers use `throw();` to help protect their programs. Some other people use `throw();` to suggest bigger canvas sizes.

The following code is used by hundreds of users to defend what they have made.
[code]

And use of punctuation nor use of just `throw();` d

[2015-11-05 01:28] Gigabyte-Giant commented on #473
The New EB experience is compatible with `throw`, you just have to change your code a bit...

Here's an example:
[code]

[2015-11-05 01:29] IndieKA commented on #473
Ah, alright. Thanks. Mind closing this issue?

[2015-11-05 01:32] Gigabyte-Giant commented on #473
I can only close my own issues, sorry. **You**, can close the issue, though. Just click the close button that is shown below the input area.

![close_issue](https://github-cloud.s3.amazonaws.com/assets%2F4977819%2F10957530%2Fc2ad45ba-832a-11e5-869d-3b07556b56f7.png)

[2015-11-05 01:32] #473 closed

[2015-11-05 05:23] GoToLoop commented on #473
So that "fix" is based on adding up parentheses to `throw`'s expression parameter?
Just know that officially that's completely redundant: @_@
https://developer.Mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/throw

[2015-11-05 20:55] IndieKA opened #474 "New error experience = not that great."
It's sad that now we have to click on Oh Noes for our error. Could you just change it to the original error issue?

[2015-11-05 21:12] MikaalSky commented on #474
It's much less distracting than before and allows for more realistic debugging. There's a reason it was made but thanks for the opinion. Probably doesn't belong in an issue, though.

[2015-11-05 22:11] kevinbarabash commented on #474
We'd like to add a settings panel, it seems like toggling this behavior might be something we want to be user configurable.

[2015-11-05 22:53] lgto4 opened #475 "pushStyle / popStyle flubs strokeWeight"
Refer to a simple test program at https://www.khanacademy.org/computer-programming/pstyle-strokeweight-flub/5720947179520000

When pushStyle and popStyle are invoked from Processing.js "Special Functions" like draw, they mishandle the strokeWeight value.

[2015-11-06 01:02] kevinbarabash commented on #475
Verified.  Thanks for the report.

[2015-11-06 01:05] IndieKA opened #476 "Show better answers/questions"
Not too long back I was viewing my profile from another account and I realized that only my answers/questions w/the most votes show up.

This is okay in some situations, but sometimes my short-length Q/A gets posted on my profile. You should make it so that the most detailed of someone's Q/A shows up on their profile. I don't want people to have first impressions, ya know.

[2015-11-06 01:07] IndieKA opened #477 "Why no "New Program" in programs section"
If you go to your profile, and then hit the 'Programs' tab you will see there is no more 'New Program' button anymore. I saw this change a while back but never really posted an issue about it. You might want to change that.

[2015-11-06 01:10] MikaalSky commented on #477
Not related to the Live-Editor but still related to the programming section.
Just so ya know, anything not directing the editor should be reported via zendesk if it's an issue. If it's a suggestion, open up an idea in the support.
This will most likely get closed.

[2015-11-06 01:12] MikaalSky commented on #476
I know you posted this one earlier than the other, but the same applies to this. Not a live-editor issue.

[2015-11-06 01:13] IndieKA commented on #477
Hm, I'll close it then.

[2015-11-06 01:13] #477 closed

[2015-11-06 01:41] Gigabyte-Giant commented on #476
Just a heads up, the live-editor repository is for stuff relating to the live-editor project, not general Khan Academy things.

In the future, I'd recommend that you post stuff like this in the correct section on [Zendesk](https://khanacademy.zendesk.com/hc/en-us).

[2015-11-06 02:05] IndieKA opened #478 "this.textFont not working."
This may have been posted by another user, so warn me if so.

If you use `this.textFont(createFont(font);` in a new program it does not work.
Although this update was made about a year ago, I didn't see anyone report anything about it.

[2015-11-06 02:18] Gigabyte-Giant commented on #478
`textFont` doesn't require the `this.` prefix. Removing it will allow you to invoke the function, as normal.

[2015-11-06 04:30] #478 closed

[2015-11-06 04:31] #476 closed

[2015-11-06 07:18] alexristich commented on #457
I take it all back. I couldn't quite let this one die without giving it another shot, and finally managed to figure it out. Turns out the regular expression in `auto-suggest.js` was a bit "faulty" and wasn't accounting properly for extra closing parens. I tweaked it a bit and also added another check to correctly return when the outer function is closed.

Regular expressions are a pain, as I'm sur

[2015-11-06 12:33] IndieKA commented on #476
Sorry about that.

[2015-11-06 12:34] IndieKA commented on #478
Okay, but multiple programs from 2 years ago (mainly by Brian French and Function97 use `this.` for `textFont`.

[2015-11-06 17:27] pamelafox commented on #478
I can fix particular programs if you link to them and if they're popular
enough to warrant fixing them.

On Fri, Nov 6, 2015 at 4:34 AM, Seabass <notifications@github.com> wrote:

[2015-11-06 17:32] IndieKA commented on #478
Popular enough? Hmm...
https://www.khanacademy.org/computer-programming/buildprint-your-map-when-youre-done/1526458399
https://www.khanacademy.org/computer-programming/new-program/1690404430
https://www.khanacademy.org/computer-programming/house-of-puzzlement/1563254655
https://www.khanacademy.org/computer-programming/new-program/1778240331
https://www.khanacademy.org/computer-programming/spin-off

[2015-11-06 17:33] IndieKA opened #479 "ctx.canvas externals no longer work"
The following program (https://www.khanacademy.org/computer-programming/stroke-text/1742701698) does not work anymore. Why? Khan Academy disabled programs w/`this.externals.canvas` and `var ctx = canvas.getContext("2d");`

Although this isn't allowed on KA, you might want to change that because some popular programs use `ctx` for better graphics.

[2015-11-06 17:44] MikaalSky commented on #479
...Because it's externals and it should be blocked?

[2015-11-06 17:45] IndieKA commented on #479
But what's wrong w/ctx?

[2015-11-06 17:46] Gigabyte-Giant commented on #478
Just a note @IndieKA, it might be helpful to provide some context when reporting potential issues in the future. I very well could've be mistaken in what I said-- so I'll gladly review the programs that you just posted.

 * https://www.khanacademy.org/computer-programming/buildprint-your-map-when-youre-done/1526458399
 * https://www.khanacademy.org/computer-programming/new-program/1690404430
 * ht

[2015-11-06 17:50] pamelafox commented on #478
Yep. I've fixed the fixable ones.

On Fri, Nov 6, 2015 at 9:46 AM, Gigabyte Giant <notifications@github.com>
wrote:

[2015-11-06 17:51] IndieKA commented on #478
@pamelafox What is wrong with using ctx??

[2015-11-06 17:56] MikaalSky commented on #478
It's externals.

[2015-11-06 18:04] MikaalSky commented on #479
CTX requires use of externals to access so that's basically what's wrong.
Plus, you don't even need ctx, use the native methods and make something cool. ;)

[2015-11-06 18:12] IndieKA commented on #479
Alright...
On the other hand, I don't mean to go offtopic, but is there a way to talk w/another user besides using issues?

[2015-11-06 18:18] IndieKA opened #480 "New error experience makes OOP programs fixed"
Just wanted to point this out, although this isn't a issue, the new error experience makes average programs that use OOP fixed. What I mean by this is usually if you changed something in a program that uses OOP something like "string is not a function" might come up. The new EB doesn't do that anymore.

[2015-11-06 19:01] MikaalSky commented on #480
Would be more useful as a comment on a New Error Experience comment or a comment on a commit, but I guess this is okay.

[2015-11-06 19:20] pamelafox commented on #480
Good to know, thanks!

[2015-11-06 19:20] #480 closed

[2015-11-06 19:47] pamelafox commented on #451
Fixed

[2015-11-06 19:47] #451 closed

[2015-11-06 19:56] IndieKA commented on #480
Okay. Just saying!
I'm pretty happy now I got to talk w/Pamela.

[2015-11-06 20:00] IndieKA opened #481 "Open new window in jQuery"
Recently I found this program on someone's profile:
khanacademy.org/cs/p/4884341070757888
It shows that you can create new tabs using `jQuery`. You might want to feature that in the new course released a while back.

[2015-11-06 20:07] Gigabyte-Giant commented on #451
Confirmed. Thanks!

[2015-11-06 21:29] pamelafox commented on #481
They're using window.open() there, which isn't jQuery specific, so it'd actually go inside the HTML/JS course if anywhere. I likely wouldn't teach it since it's not a commonly used thing in web development, as popups are generally annoying. We usually only use that when we're desperate for some reason.

For content suggestions, feel free to email compsci-feedback@khanacademy.org, I monitor that.

[2015-11-06 21:29] #481 closed

[2015-11-06 22:56] kevinbarabash commented on #479
@IndieKA https://gitter.im/Khan/live-editor.

If you want to use canvas directly then the webpage environment is your friend.

[2015-11-06 22:56] #479 closed

[2015-11-06 23:36] kevinbarabash commented on #478
hmm... I didn't realize that this was working at one point.  @pamelafox thanks for fixing the fixable ones.

[2015-11-07 00:00] IndieKA commented on #479
But Pamela is hardly on that... Nor someone else either, you're pretty much the only one and some others..

What's your Khan Academy account? Profile link?

[2015-11-07 00:45] JavascriptFTW commented on #479
@IndieKA Just post a message on Gitter. It typically gives emails (at least to me) when there are new messages

[2015-11-08 23:49] IndieKA opened #482 "EB doesn't load as quick"
I understand that the new error experience just released not too long ago, but it can't keep up with the mistakes I make in my code. You should try fixing that problem. Thanks!

[2015-11-09 00:55] kevinbarabash commented on #482
@IndieKA what you mean by "keep up"?  Do you prefer the old error experience?

[2015-11-09 01:24] kevinbarabash commented on #466
I think this would be preferable.  Sorry for not saying so earlier.

[2015-11-09 01:48] kevinbarabash commented on #482
It seems like this is quite similar to https://github.com/Khan/live-editor/issues/474.  Am I missing something?

[2015-11-09 01:49] kevinbarabash commented on #464
Fixed by https://github.com/Khan/live-editor/commit/17adf5ab2119dc1ba76d1b117ca15cbd7e031919.

[2015-11-09 01:49] #464 closed

[2015-11-09 02:00] kevinbarabash commented on #449
I'm going to resolve this as a duplicate of https://github.com/Khan/live-editor/issues/400.  Once that is resolved, the comments will appear in the results of `.toString()` like before.

[2015-11-09 02:06] kevinbarabash commented on #400
I have a plan for this which I think should work.  All `FunctionExpression` nodes in the AST should be rewritten to be IIFEs that return a `FunctionExpression` with a modified `.toString` method.  A function like `var foo = function() { console.log("foo"); }` should be rewritten as the following:
[code]
Here, `__ka__toString` would be a function that's passed two parameters, the start and end of a

[2015-11-09 03:50] kevinbarabash commented on #470
@LoganDark2 have you tried the code I posted above?  If you need multiple layers, it might be easier to use to multiple canvas elements in webpage environment.  If it's just for a cursor you could also try using CSS custom cursors, see https://davidwalsh.name/css-custom-cursor.

[2015-11-09 04:20] lgto4 commented on #400
Since https://github.com/Khan/live-editor/issues/449 is marked as a duplicate of this, the orignal function's text should include its orignal comments.

[2015-11-09 04:24] alexristich opened #485 "Cursor type for number-scrubber isn't being updated properly"
For the number-scrubber, when the user hovers over the left or the right arrow, the cursor should be changed to a pointer, but it stays as the `ew-resize` cursor.

The issue here is that the `tooltips.css` file only contains a relevant attribute selector in the case of structured-blocks. A new PR is coming momentarily with an added attribute selector for the standard case.

[2015-11-09 04:35] kevinbarabash commented on #400
@lgto4 it will.  I'm going to grab the function's source from the user code verbatim so it will contain the comments and all the original formatting.

[2015-11-09 04:38] kevinbarabash commented on #485
@alexristich can you post screenshots for UI bugs?

[2015-11-09 04:44] alexristich commented on #485
Absolutely. Here's a quick screencast:
http://screencast.com/t/C2zBNVyNpyc

A screenshot is tricky for this one, since screenshots by default hide the cursor, though the screencast can be viewed in your browser and should give you a good sense of what this is referring to.

By the way, is the `.block` CSS class in `tooltips.css` actually being used at the moment?

[2015-11-09 04:53] kevinbarabash commented on #485
It doesn't appear to be.

[2015-11-09 04:53] kevinbarabash commented on #485
Closed by https://github.com/Khan/live-editor/pull/486.

[2015-11-09 04:53] #485 closed

[2015-11-09 04:55] kevinbarabash commented on #460
Fixed in https://github.com/Khan/live-editor/commit/145c953ddca7413e919f2a1610d6e2625636c40f.  Waiting for review.

[2015-11-09 05:02] alexristich commented on #485
Good to know. I'll work around it in the meantime - the SVG wrt the number scrubber icons is next on my list.

[2015-11-09 13:34] IndieKA commented on #482
Yes, I hadn't noticed that. What I mean by "keep up" is when I make a error, it takes a while for Oh Noes to actually check what the error is.

[2015-11-09 18:01] pamelafox commented on #482
This is how the new Oh Noes works:
- When there's a problem with your code and your cursor is on the same line as the problem, Oh Noes stays little and says "Hmm".
- When you move to a new line OR you've been idle on that line for a while, Oh Noes turns into big oh noes.
- You can click on the Hm at any time to find out the error.

So, given that description, can you be more specific with your rep

[2015-11-09 19:33] pamelafox opened #487 "BabyHint can use autosuggest-data.js for function form suggestions"
When you type something like `fill(10, 10);` you'll see this message 'It looks like you're trying to use fill(). In case you forgot, you can use it like: fill(r, g, b, a*) | ProcessingJS'.

That message is built up based on us sending documentation over to the frame (see BabyHint.initDocumentation). However, we now have function form information available in a more structured form in autosuggest-d

[2015-11-09 20:21] #324 closed

[2015-11-09 20:57] lgto4 opened #488 "arc draws obese degenerate arcs"
The arc function draws an arc when the start and stop angles are equal.  In "more normal" Processing.js environments it does not.  See a demo at https://www.khanacademy.org/computer-programming/obese-arcs/6704678451150848

[2015-11-10 15:40] DanJFletcher opened #491 "Missing "=" for attribute generates confusing syntax error"
In the HTML coding challenges users are often missing the "=" sign after an attribute like this:
    `<img src"http://some.image.example">`
The error message is: "It looks like your opening <img> tag doesn't end with a >."
Which is a very confusing message, and causing users to make a lot of strange changes to their code, trying to get the syntax error to go away.

One option might be to change th

[2015-11-10 17:09] pamelafox commented on #491
I'd like to leave content discussions off of live-editor, since we're trying to keep this repo's issues to things that can actually be addressed in this repo. We have a chat offline about that anyway.

I'm usually able to replicate our linter issues on https://thimble.webmaker.org/, since we're using their library, but I'm not seeing any error pop up there for that line of code, strangely.

I agre

[2015-11-10 18:59] DanJFletcher commented on #491
OK, sorry about that. I'll take your advice on using regex in the challenges.

[2015-11-11 00:11] kevinbarabash commented on #445
Fixed by https://github.com/Khan/live-editor/pull/489.

[2015-11-11 00:11] #445 closed

[2015-11-11 01:38] pamelafox commented on #491
The regex-based checks aren't available yet in the HTML challenges, but it looks like I can add support for them pretty easily, I'll report back tomorrow.

[2015-11-11 01:46] pamelafox commented on #491
Screenshot of what it will look like:
<img width="867" alt="screen shot 2015-11-10 at 5 45 05 pm" src="https://cloud.githubusercontent.com/assets/297042/11081598/cd07fb98-87d2-11e5-8e2d-1aab1356e9ab.png">

That's with this simple not yet sophisticated enough regex:
var syntaxChecks = [
    // likely to happen in step 1
    {
        // h1 inside p
        re: /<p>\w*<h1>\w*<\/h1>\w*<\/p>/,

[2015-11-11 01:48] lgto4 commented on #445
So, when does the common man see the fix?

[2015-11-11 02:07] kevinbarabash commented on #445
@lgto4 I'll try to do a deploy sometime this week unless @pamelafox does one first.

[2015-11-11 06:51] kevinbarabash commented on #423
The issue is caused by the fact that we try to stringy all values that are objects so that we can do live updates if the user changes their data.  In this case, trying to serialize `window` doesn't work because it's a cyclic data structure.

[2015-11-11 06:55] kevinbarabash commented on #309
If `this === window` then we should probably return an object that looks like `window`.  That way people can get use to some of JavaScript's peculiarities.  The more we can make our sandbox look like plain old JavaScript, the better it will be for our users.  Once we have this object that looks like `window` then we should also be able to allow users to access it directly via `window`.

[2015-11-11 14:39] DanJFletcher commented on #491
OK, thank you Pamela.

[2015-11-11 16:05] Gigabyte-Giant commented on #309
So, @kevinbarabash, just to make sure I'm understanding you correctly, you're suggesting doing something like this?:

Before:
[code]

After:
[code]
Of course, in my example, I didn't include any of the other transforms/injects that take place.

If that is indeed what you're suggesting, then an AST transform should still work...

[2015-11-11 17:06] Potato42 commented on #423
I had considered that earlier, but when I tried doing something like

    var cyclic = {};
    cyclic.cyclic = cyclic;

I never got an error.  Why is that?  Shouldn't any cyclic structure have the same result?  I'd play with it some more, but I seem to be unable to reproduce the error with anything right now.

[2015-11-11 20:28] brew4321 commented on #470
@kevinbarabash you can layer canvas elements? ..very interesting, I'll have to experiment with that. But another question, is there a reason not to implement support for PGraphics? Is it like a security issue?

[2015-11-12 01:28] kevinbarabash commented on #470
@brew4321 from my understanding it is supported.  The code snippet in my previous comment should work.

[2015-11-12 01:42] kevinbarabash commented on #309
I think that should work.  The custom window object would probably just be `__env__` with a few items hidden.

[2015-11-12 09:01] brew4321 commented on #470
@kevinbarabash Oh my bad! Yes it works. I should know better, because I've used `createGraphics` extensively. But since we never have to write `PGraphics` I was confused thinking that was something else.

[2015-11-12 12:44] GoToLoop commented on #470
Better use constants for renderer. JAVA2D for 2D or P3D for WebGL.

[2015-11-12 15:56] kevinbarabash commented on #470
@brew4321 cool.  @GoToLoop thanks for looking up the constants.

[2015-11-12 15:56] #470 closed

[2015-11-12 18:13] brew4321 commented on #470
@GoToLoop do you know a good place were I can read about the trade offs of the various rendering options? For example I read here: http://processingjs.org/articles/RenderingModes.html that both P3D, and OPENGL use webgl, but I'm wondering if one uses it more efficiently than the other, because I'm sure I read somewhere that P2D is faster that JAVA2D... The article says, "Processing allows develope

[2015-11-12 19:27] GoToLoop commented on #470
* All of those constants are used to describe the various renderers available for Processing's "Java Mode".
* However, both "JavaScript Mode" (a.K.a. ProcessingJS or PJS) and p5.js flavors got either 2D or WebGL canvas.
* In the end, both JAVA2D & P2D refers to regular 2D canvas.
* While OPENGL & P3D for the WebGL counterpart.  ;-)

[2015-11-14 18:04] JavascriptFTW opened #492 "Unhelpful Error Message When Using ES6/7 Features"
The error message thrown by jshint when you attempt to use ES6/7 features in the live editor is "'some cool feature' is only available in JavaScript 1.7.". While this is an acceptable message it may not be the most helpful for some students.

[2015-11-14 21:02] kevinbarabash commented on #492
Which features were you trying to use?

[2015-11-14 21:04] kevinbarabash commented on #492
I tried using arrow function and saw the message.  I didn't realize we had these error messages.

[2015-11-14 21:07] JavascriptFTW commented on #492
@kevinbarabash I tried to use "concise methods" (according to the error) i.e.
[code]

I believe that there was something else that I tried doing at some point that made the error come up as well.

[2015-11-15 15:14] sedge opened #494 "The `escape` character should have it's own syntax highlighting"
I ran into a user-error when trying to build something on your platform. My codeblock looked like this:

[code]

Github makes it clear where the problem is, but it took my sleep-deprived brain a little longer. I was escaping the closing quote mark! The fix was simple: escape the escape character to actually compare against a backslash:

[code]

It would be awesome if the Khan platform made the `\`

[2015-11-15 16:30] pamelafox commented on #494
Thanks for bringing this to our attention. Can you actually file this in the ACE editor repo?
https://github.com/ajaxorg/ace
That is where we get our syntax highlighting from. You could also file a pull request there if you'd like to give it a go yourself.

We can leave this issue open here as well, with a link to the ACE issue.

[2015-11-15 19:50] brew4321 opened #495 "Sudden problems with PVector method on new PVector objects."
This: https://www.khanacademy.org/computer-programming/pool-table/5599761850826752 program was on the hot list, and I know it used to work. And it hasn't been modified in two months, and yet it suddenly stopped working. Which I discovered when this: https://www.khanacademy.org/computer-programming/air-hockey-wip/5585122674475008 spin-off bugged out, and the person submitted a help request.
I've re

[2015-11-15 19:57] JavascriptFTW commented on #495
The problem here is that `PVector.sub` is not a constructor so the `new` is what's messing it up. If the `new` is removed the code should work as expected.

[2015-11-15 20:02] GoToLoop commented on #495
More precisely, the static **sub()** method uses `new` internally. Then it stores the result in it.

[2015-11-15 20:14] kevinbarabash commented on #495
Changing all `new PVector.sub()` commands to `PVector.sub()` fixes it.  It not sure how it could've worked the other way.  It's a pretty cool program.  @brew4321 can you let the creator know what the fix is?

[2015-11-15 20:14] #495 closed

[2015-11-15 20:18] brew4321 commented on #495
@kevinbarabash sure :)

[2015-11-16 00:46] sedge commented on #494
@pamelafox Happy to! I took a peek at ACE and it looks like it's capable of it already. Do you use a custom theme for the editor?

[2015-11-16 05:18] pamelafox commented on #494
Hm, thanks for checking. I don't think we use a custom theme, but we're also not up to date. So perhaps this requires a submodule update of our external/ace folder.

[2015-11-16 14:44] sedge commented on #494
I'll try updating the submodule to see if it makes a difference. Or horribly breaks everything.

[2015-11-16 15:18] sedge commented on #494
Hmm. It horribly broke everything.

I updated the `ace-builds` version to the latest in `bower.json` and rebuilt live-editor. It almost works, but not quite.

That might be the extent of my spare bandwidth this week, but if I get a chance I'll debug a bit to figure out what's going on.

[2015-11-16 20:54] petercollingridge opened #496 "Can't make a object instance when the object constructor is passed into a function"
The following code gives an error: Cannot read property 'prototype' of undefined.

    var makeObj = function(obj) {
      return new obj();
    };

    var x = makeObj(Array);

It worked about 10 days ago. It's not a big deal, but I've seen a few programs broken as a result of it.

[2015-11-16 21:50] kevinbarabash commented on #496
This probably has to do with a recent change to rewrite `NewExpressions` using an AST transform as opposed to a regex.  @Gigabyte-Giant if you have some time could you look at this?

[2015-11-16 21:51] Gigabyte-Giant commented on #496
I was just looking over this @kevinbarabash. Give me a bit and I'll get back to you.

[2015-11-16 22:00] MikaalSky commented on #496
I'm not sure it's neccasary to make arrays like that but I can see for instance where you could put a Object in a parameter to create a new instance and append it but hardcoding it would make sense to do 99% of the time. Might as well get it fixed though.

[2015-11-16 22:08] Gigabyte-Giant commented on #496
Okay, I've determined what I *think* the problem is; [my AST transform](https://github.com/Khan/live-editor/blob/master/js/output/pjs/pjs-ast-transforms.js#L293-L319) **always** prefixes identifiers with `__env__`, which is fine, unless you're referencing a function parameter (or at least that's what I can tell from my quick test).

I broke it, so I'll fix it. I'll also write a a new test to make

[2015-11-17 01:19] kevinbarabash commented on #496
@Gigabyte-Giant this is a regression.  Thanks for fixing.

[2015-11-17 06:20] Potato42 commented on #309
AST transforms are practically useless at stopping users from accessing the Window object:

    // jshint evil:true
    println(eval("window"));
    println(Object.constructor("return this")());

Why are we even trying?  The HTML environment has complete access to `window`.  It's not even frozen like the PJS environment.  Why can't we just do something like that for PJS?  Is there some vulnerabili

[2015-11-17 11:54] petercollingridge commented on #496
Wow, that was very quick, thank you!

@MikaalSky I just used `Array` as a simple example; none of the programs I saw were actually doing this, they were all using custom objects.

[2015-11-17 12:11] petercollingridge commented on #496
I think there's still a related issue, since it gives the same error and broke at around the same time.

The problem is from this program (which has been fixed by commenting out some parts): https://www.khanacademy.org/computer-programming/_/6380002294366208

The issue seems to be due to defining and creating an object inside a self-invoking function, like this:

    (function() {
        var f =

[2015-11-17 13:41] Gigabyte-Giant commented on #496
Hi @petercollingridge! Thanks for providing me with another test case. I ran the code you provided, against my branch, and all appears to work just fine (in other words, my PR should resolve all of those issues).

[2015-11-17 15:57] kevinbarabash commented on #496
Resolved by https://github.com/Khan/live-editor/pull/497.

[2015-11-17 15:57] #496 closed

[2015-11-17 16:17] kevinbarabash commented on #309
The reasons for trying to sandbox (at least in my mind) are:
- preventing safety features such as the loop protector from being disabled
- preventing modifications to globals that might break the environment

I agree that it's a bit of an uphill battle seeing as there are lots of ways to get access to `window`.  I think knowing about `window` is important so I'd rather have a safe version that use

[2015-11-17 17:25] Potato42 commented on #309
We have the same problem with disabling loop protector/other safety features in the HTML environment.  In fact, since loop protector has been rather finicky lately, I've seen many users disabling it ([example](https://www.khanacademy.org/computer-programming/infinite-slide/6611264526745600)).  It makes me wonder if we could somehow put things like that in a different scope, but that's maybe a diff

[2015-11-17 17:51] pamelafox commented on #309
I'm on the road now so I can't write much, but I wanted to pipe in with an
additional reason that we tried to disable window: messy/confusing code.
When I first joined KA, I noticed the hot list was full of programs with
externals hacks and hard-to-explain code that did DOM/window manip. My hope
was that people could view most programs on the hot list and mostly
understand the code in them, and ha

[2015-11-17 20:16] Gigabyte-Giant commented on #471
I'm going to go ahead and add this to my to-do list.

I hope to have a PR ready to go within the next couple days.

[2015-11-17 20:41] Gigabyte-Giant commented on #494
I was able to get Ace updated, and got the live-editor working fine...

The only problem that I had, was the fact that the event object passed into [this callback](https://github.com/Khan/live-editor/blob/master/js/editors/ace/editor-ace.js#L154-L166), no longer has a `data` property.

If you replace `e.data.<whatever>` with `e.<whatever>`, the live-editor appears to work perfectly fine...

[2015-11-18 00:28] JavascriptFTW commented on #433
Since this seems to be an issue with structuredjs rather than the live editor I've opened this issue there. ([link](https://github.com/Khan/structuredjs/issues/22))

[2015-11-18 04:33] pamelafox commented on #494
@Gigabyte-Giant Okay, thats functionality that only a few folks use at the moment. Can you send a PR for the ace update (with that change)? If we can merge it and deploy this week, that gives a week to catch regression issues before Hour Of Code.

[2015-11-20 01:55] pamelafox opened #499 "Towers of Hanoi program no longer working"
The Towers of Hanoi program now results in an error "Cannot read property prototype of undefined":
https://www.khanacademy.org/computer-programming/program/4772835774169088

I haven't looked into yet, have to go somewhere now. If anyone beats me to investigating it, I won't mind. :)

[2015-11-20 01:56] Gigabyte-Giant commented on #499
I'll take a look at this; I'm betting it has something to do with an AST transform...

[2015-11-20 01:58] Gigabyte-Giant commented on #499
This is the same problem as https://github.com/Khan/live-editor/issues/496, which was fixed in https://github.com/Khan/live-editor/commit/f4e83d15eef408381c6b1a3a284efa855419b92f.

My apologies, once again.

[2015-11-20 04:10] pamelafox commented on #499
Okay, I'll work on deploying that fix now. That's fine, the important thing is that we keep adding tests, which you did. Thanks for verifying its fixed in your branch.

[2015-11-20 04:48] kevinbarabash commented on #499
We should add that program as a test case.  In fact it would be awesome had a regression suite that verified that all official scratchpads run without error.

[2015-11-20 06:03] pamelafox commented on #499
Deployed!

[2015-11-20 06:03] #499 closed

[2015-11-20 06:03] pamelafox commented on #496
This fix is deployed, can you verify the fix?

[2015-11-20 22:13] brew4321 opened #500 "Something appears to be wrong with the infinite loop protection today."
I keep seeing the loading sign instead of the error, but not every time. I know there should be an error by studying the code, but also because sometimes it does show up..
Here https://www.khanacademy.org/computer-programming/pong/6693420993740800 is an example where the user wrote the equivalent of
[code]
instead of using a draw loop. It's still not throwing the error as I write this so I took a

[2015-11-20 22:41] kevinbarabash commented on #500
<img width="1329" alt="screen shot 2015-11-20 at 2 38 35 pm" src="https://cloud.githubusercontent.com/assets/1044413/11313806/baa64dfa-8f94-11e5-8bde-009d47cad357.png">

It took a little while for it show up, but it did.  What browser are you using?

[2015-11-20 22:45] Gigabyte-Giant commented on #500
Chrome 46.0.2490.86:
![image](https://cloud.githubusercontent.com/assets/4977819/11313863/0b6ab4b8-8fa6-11e5-9589-16a681d596a4.png)

[2015-11-20 23:38] MikaalSky commented on #500
Browser, OS and vague computer specs would help.

[2015-11-20 23:55] brew4321 commented on #500
Sorry for the delay. I went shopping and came back. I just tried it and the error comes up pretty quick most of the time, but a few times it doesn't.
Some specs: I'm using firefox on windows 10, got plenty of free space on my hard drive, got only a 1 giga hertz processor, 4 gigabytes of ram.. it's a rather average computer but not like so stupidly old that you would expect it to take ten minutes f

[2015-11-21 00:05] brew4321 commented on #500
Interestingly my CPU doesn't seem to be super freaked out that a program is stuck in an infinite loop. It's more like khan academy just gave up on the program. One time it left it white with a loading box, the time I snapped that screen shot it was black with a loading box, and this time last time it seemed to partially render the guys program before giving up:
![loopprotection2](https://cloud.git

[2015-11-21 00:25] MikaalSky commented on #500
Firefox using 12% CPU is a lot for a browser. It's probably locking up, really.

[2015-11-21 00:47] brew4321 commented on #500
Tried it out on some other browsers and a second pc, firefox on my second laptop (running ubuntu) worked pretty much the same, while edge quickly sucked up 50% CPU and the whole page was blank and eventually the browser itself gave some kind of script taking to long error. Chrome in Ubuntu was the worst, it really locked up and eventually I got the "he's dead Jim" error and had to kill the whole b

[2015-11-22 18:59] MikaalSky opened #501 "MCKE is taking too long."
https://www.khanacademy.org/computer-programming/minecraft-ke-noise-bedrock/5971033575129088 This is "taking too long" now. Probably related to #500 but it happens instantly. The program doesn't even get a chance to start, it just ends right away.

[2015-11-24 16:25] SpongeJr commented on #333
We've been seeing a couple recent support tickets pertaining to this as well. We also see Help Requests about it now and then, and it's a general frustration with quite a few learners.

MikaalSky's description explains the reason behind it I believe.

[2015-11-24 16:54] Gigabyte-Giant commented on #333
So, after a quick glance, I'm thinking that the regex on [this line](https://github.com/Khan/live-editor/blob/3421853a2544ea9cc8372f9b015a68c645570201/js/editors/ace/editor-ace.js#L421), should probably be changed to `/\r\n/g`...

Problem is, I'm having a hard time reproducing this issue... I'll continue to dig around.

[2015-11-24 17:40] kevinbarabash commented on #389
Added by https://github.com/Khan/live-editor/commit/2c013923595f743f17da89dcce67dfc2a8aba762.  You can load all of the "pjs" code from all of the tutorials (talk-throughs), challenges, and official scratchpads by opening demos/simple/scratchpads.html and click on one of the many links.

[2015-11-24 17:40] #389 closed

[2015-11-24 18:05] kevinbarabash commented on #460
This has been deployed.

[2015-11-24 18:05] #460 closed

[2015-11-24 18:08] kevinbarabash commented on #452
This will also improve communication of exceptions that occur in draw loop methods back to the user.

[2015-11-24 18:52] #333 closed

[2015-11-25 03:19] #492 closed

[2015-11-25 13:56] Gigabyte-Giant opened #504 "tranform of NewExpressions where the contructor is a MemberExpression fails"
*Brought to my attention by @SpongeJr*.

See [this scratchpad](https://www.khanacademy.org/computer-programming/bug/4608920221515776).

I've already determined that the problem is caused by trying to declare new instances of the property of an object.

For example:
[code]

Once again, since I broke it, I'll fix it.

[2015-11-25 14:03] MikaalSky commented on #504
First we plant the tree.
Then we jam a branch into the tree.
Later we cut off some of that branch and repot it.

Basically what that code is.
Good catch, though. Don't wanna confuse learners.

[2015-11-25 14:40] Gigabyte-Giant commented on #504
Just in case anyone is wondering what's going wrong:

In [my AST transform](https://github.com/Khan/live-editor/blob/master/js/output/pjs/pjs-ast-transforms.js#L293-L316), my code is making the assumption that `node.callee` has a `name` property, which is not always the case.

I should have a fix ready to go in a bit.

[2015-11-25 16:53] kevinbarabash commented on #504
@SpongeJr thanks for catching this.  @Gigabyte-Giant can you also check that `var name = 'b'; var c = new a[name]();` works as well?  An AST test isn't necessary for this b/c the program fails to run if the transform is incorrect, a regular `test` test should do the trick.

[2015-11-25 17:26] Gigabyte-Giant commented on #504
Sure thing.

Just a heads up; the fix might be delayed a bit, as I'm really busy these days.

[2015-11-26 01:32] lgto4 opened #505 "Yoko Oh Noes complains about valid Javascript"
Perhaps this is a mutation of issue 445?  See the simple test program  https://www.khanacademy.org/computer-programming/wat2/4562973953228800 that declares a function called arc inside of another function and attempts to invoke it.  Yoko Oh Noes whines about Processing.js arc which is unrelated.

[2015-11-26 01:43] MikaalSky commented on #505
This is what we call a case of the AST Splosions.

[2015-11-26 06:03] kevinbarabash commented on #505
The reason for this is that we check that each of the processing functions is using the correct number of parameters.  The problem is that that we do a regex to find all function calls and then check those function calls against processing-js function param counts.  A better way of doing this would be to look at the AST because then we could determine if we're referencing the global `arc` or the l

[2015-11-29 01:29] pamelafox commented on #431
It looks like you merged it and fixed that issue, but I ran into a related issue in my sister's program here:
https://www.khanacademy.org/computer-programming/arc-issue/6596842260922368
Try changing a number in the arc() at the bottom- notice that it disappears until you restart it. If you comment out mouseClicked, it updates as expected.

[2015-11-29 01:53] kevinbarabash opened #506 "`arc` is not a `safeCalls` but it should be"
The problem is that we look at the source code for `arc` and see the it contains `p.convertToRadians(start)` and so we don't add it to `safeCalls`.  The thing is the neither `p.convertToRadians` nor `arc` change any state so it's actually okay for `arc` to be in `safeCalls`.

[2015-11-29 01:54] kevinbarabash commented on #431
@pamelafox I looked into the arc issue and it's actually a separate issue.  See https://github.com/Khan/live-editor/issues/506.  I'm going to close this issue because it appears to be fixed.

[2015-11-29 01:54] #431 closed

[2015-11-29 03:58] pamelafox opened #507 "Clicking on an option in autocomplete dropdown doesn't actually select it"
I noticed this while watching my sister learn programming.

If you type strokeW, and then try to select strokeWeight, it doesn't actually replace it.
It only selects it if you use your keyboard, tab, and press enter.

Most new programmers aren't keyboard users like that however, so it is frustrating for them.

I'm not sure if click ever worked (i.e. if this is a regression) or if it was only ever

[2015-11-29 04:23] Gigabyte-Giant commented on #507
This is a duplicate of https://github.com/Khan/live-editor/issues/408.

[2015-11-29 20:11] pamelafox commented on #507
Ahh, thanks, closing!

[2015-11-29 20:11] #507 closed

[2015-11-29 21:27] pamelafox commented on #506
Sent a diff for this, thanks for figuring that out!

[2015-12-01 00:07] kevinbarabash opened #508 "Update phantomjs to 2.0 so that we can automate SQL tests"

[2015-12-01 00:28] #506 closed

[2015-12-01 04:38] MikaalSky commented on #504
Here's a living example of this. Below line 115.
[Game Engine that got broke](https://www.khanacademy.org/computer-programming/not-for-public-use/4643054469906432)

[2015-12-01 19:11] MikaalSky commented on #504
Chrome, Windows error:
.toString() is undefined...
Firefox, Mac OS X Error:
e.value is undefined

[2015-12-01 19:47] jorge4d commented on #427
Cual es la solución para el problema del innerHTML en el Edge?

[2015-12-01 20:05] kevinbarabash commented on #427
@jorge4d sorry we haven't had time to dig into this.  Are you experiencing this issue?

[2015-12-01 20:32] jorge4d commented on #427
Yes, i have this situation: I read a XML file that has a SVG code inside with PHP program. When i fill de SVG tag in the parent frame with the innerHTML works good in Chrome but not in Edge.

[2015-12-02 00:03] MikaalSky commented on #501
Correction:
There's huge lag when using for() loops again.
@kevinbarabash?

[2015-12-02 01:08] kevinbarabash commented on #501
I ran MCKE locally with loop protection off and I didn't see a huge notice in either the startup time or performance.  The in game FPS is approx. 30 with loop protection, w/o it was a few frames faster.  Maybe there was a recent change to the code that's causing a slowdown.  There are ways to get around issues with the loop protector by taking long running jobs and breaking them into several calls

[2015-12-02 15:23] MikaalSky commented on #504
Huh, actually, it seems this isn't happening in the Live Editor Demo.
http://khan.github.io/live-editor/demos/simple/
Put the code from this program in it:
https://www.khanacademy.org/computer-programming/not-for-public-use/4643054469906432
It'll run on the demo but not the KA environment.

[2015-12-03 14:02] MikaalSky commented on #427
So, outside of KA?

[2015-12-04 20:58] pamelafox opened #509 "Show color picker in talk-throughs"
Students get confused because we don't show the color picker in talk-throughs. It'd be great if we could show it popped up and even show how the color changes inside it (we'd need to do some interpolating or discrete jumps, since we don't record every mouse move).

[2015-12-04 21:27] kevinbarabash commented on #509
+1

[2015-12-05 22:39] JavascriptFTW opened #510 "Users Can Effectively Disable Loop Proctection"
Recently I found a program on the hot list that was (effectively) disabling the loop protector with this code.

[code]

The author has since removed this code (as far as I can tell) after getting some flak for it.

I've fixed this issue in my fork of the live editor and should have a PR coming in shortly since this is a relatively simple fix.

[2015-12-06 19:55] pamelafox opened #512 "Multi-line comment in SQL results in unexpected syntax error"
The following code results in a SQL error - removing the second asterisk on line 1 fixes it.
It looks like valid comment syntax to me - or at least, our syntax highlighter shows it as such,
and it works in https://kripken.github.io/sql.js/GUI/

[code]

[2015-12-07 22:56] pamelafox opened #513 "Various SQL newbie syntax mistakes that could use clearer messages"
I recently went through hundreds of reports for our first SQL challenge and identified common syntax errors that newbies make. I've updated the SQL output for the most common ones, but there are still quite a few that I didn't address. The messages are just based off of doing an indexOf/search() on the error message and statement right now, nothing fancy. We may want to get fancier in future if sy

[2015-12-07 22:58] pamelafox opened #514 "Students make never-ending comments in SQL and don't realize it"
When going through the newbie syntax reports, I saw several students that had a never-ending comment and couldn't figure out why their code didn't work. We could put a gutter warning or an OhNoes for that - like "It looks like you have SQL code inside a comment. Is that on purpose?"
They could theoretically be planning their SQL in a comment, but if they have no output at all, it's likely a mistak

[2015-12-09 23:39] pamelafox opened #515 "Improve performance of SQL environment for basic operations"
When using the SQL environment for even basic commands, there can be slight UI freezes. I've replicated this myself and also gotten reports via users (who may be experiencing more major freezes).

We don't do any of the SQL execution in a worker thread, so that would be one approach. We could also profile to see where the slowdown is coming from.

[2015-12-10 00:13] pamelafox commented on #515
I did a quick profiling via console.time/console.timeEnd to confirm where the slowdown is-- it definitely looks like it's the execution of the SQL commands that's the slowest, not extra things like linting. So that would need to run in the worker.

[2015-12-10 00:31] kevinbarabash commented on #515
I think running SQL commands in a worker makes sense.

[2015-12-10 03:18] Cis112233 commented on #360
Has this been done?

[2015-12-10 04:52] kevinbarabash commented on #360
Yes it is.  Thanks!

[2015-12-10 04:52] #360 closed

[2015-12-10 17:07] MikaalSky commented on #360
Since tests just run the code and check for errors, couldn't we put some complex programs that break often in the tests?
Not sure how tests work, just so ya know.

[2015-12-10 17:10] kevinbarabash commented on #360
I tried automate the process using the current test infrastructure, but running longer programs takes more memory and after running 10+ different long programs in a row the tests started timing out.  Ideally, we'd spin up a new phantomjs instance when running each of these complex programs.  For now at least contributors will be able to more easily test changes to live-editor against real world pr

[2015-12-10 21:44] Cis112233 commented on #448
Adding another form of rect the EB looks at looks like the best way of doing this. The fastest way would be to have another rect command be added but that would end up being a pain. Adding an if statement in EB may work. Say if the params for rect are more than 5 use another message.

[2015-12-10 21:54] Cis112233 commented on #448
rect(200, 100, 150, 200, 0, 25);
Makes even more problems. That draws the rectangle with rounded edges but EB throws an error saying I put too many params

[2015-12-10 23:26] Cis112233 commented on #307
I have been looking into the JS and would like to know if anyone knows offhand the location of when the updator is triggered?

[2015-12-11 00:30] ebpa opened #516 "Prototype chains of incongruent prototypes corrupted by NewExpression transform"
Disclaimer: I'm unfamiliar with the PJS testing infrastructure and also Processing.js.

As I see it, a stub class has been injected to enable annotation of injected code.  The AST of NewExpressions are rewritten to insert the stub class, but makes the assumption that the returned object's prototype is congruent with the called class function.  That prototype could be observed, but I think a simple

[2015-12-11 01:09] ebpa commented on #516
@kevinbarabash is probably the expert in this area.

[2015-12-11 01:15] Gigabyte-Giant commented on #516
This is basically the same as https://github.com/Khan/live-editor/issues/504, which was caused by me.

Sorry for the inconvenience.

[2015-12-11 01:43] DanJFletcher opened #517 "Yoko Oh Noes should report any content after </body> as an error."
One of the most common issues reported in the HTML/CSS challenges is caused from users creating nodes before or after the `<body>` and `</body>` tags (after being the most common).

It's possible to change each grader to display a message such as:
"It looks like you are trying to place your content after the `</body>` tag. Make sure your content sits between the `<body>` and `</body>` tags."

Howe

[2015-12-11 04:15] ebpa commented on #516
It's all good :+1:

[2015-12-11 05:51] kevinbarabash commented on #517
I tried the examples in http://mozilla.github.io/slowparse/ but slowparse didn't report any errors.  Probably the most sensible path forward is try to add this check to our copy of slowparse.  I would like to someday push our changes upstream.

[2015-12-11 05:54] kevinbarabash commented on #448
@Cis112233 you only need 5 params to draw rounded rects.

[2015-12-11 05:55] kevinbarabash commented on #307
@Cis112233 look at `runCode` and `markDirty` in js/live-editor.js.

[2015-12-11 18:05] DanJFletcher commented on #517
OK, I'll see if I can make those changes and will post a PR if it pans out. Likely sometime tonight or over the weekend.

[2015-12-12 01:44] lgto4 opened #518 "Finite loop detector misfires when used with mouseDragged"
The KA finite loop detector misfires when a CPU intensive function is invoked from mouseDragged.  Invoking the same function from draw is fine (as if anything associated with the loop detector is "fine").

The thrown error is not recognised by Yoko Oh Noes.

A simple test program is at https://www.khanacademy.org/computer-programming/wat4/5728076905971712    This is using Chrome on LinuxMint (Ubun

[2015-12-12 01:54] lgto4 commented on #510
Before making it more secure how making it more reliable?

[2015-12-12 04:58] kevinbarabash commented on #518
I wasn't able to repro this probably b/c my computer is too fast.  What does "the thrown error is not recognised" mean?

[2015-12-12 04:58] kevinbarabash commented on #517
Thanks for looking into this.

[2015-12-12 17:50] lgto4 commented on #518
The complaint from Yoko Oh Noes is:
 "Oh noes!
Show me where"
No mention of a problem.

The number one problem with the KA loop detector is that its behavior is a function of the host machine's speed.

[2015-12-12 20:55] lgto4 opened #519 "Rounding a rectangle shifts its location"
See the simple demonstrtion at https://www.khanacademy.org/computer-programming/wat3/6754888494743552

If you specify a fifth argument to rect, the location of the rendered rectangle is shifted, even when the value of the fifth argument is zero.

The problem lies within Processing.js.  Do you have a conduit to their bugs database?

[2015-12-12 21:19] GoToLoop commented on #519
PJS repo: https://GitHub.com/processing-js/processing-js
Problem seems **scale()**. The bigger the more it goes farther to right & down!

[2015-12-12 22:45] lgto4 commented on #519
@GoToLoop I believe that you are blaming the tool for the bug.  I used scale as a magnifying glass.  The more you zoom-in on the picture, the more the problem becomes apparent.

I am guessing that there is an off-by-one bug in the code.

[2015-12-12 23:54] GoToLoop commented on #519
Seems like it's not [**scale()**](http://ProcessingJS.org/reference/scale_/) but [**strokeWeight()**](http://processingjs.org/reference/strokeWeight_/). Anything not `1` triggers this bug!
Even values like `1.000000000000001` or `0.9999999999999999`!

[2015-12-13 00:19] lgto4 commented on #519
I think you have nailed it!  Using noStroke (and no weights) and some filling, works perfectly.

[2015-12-13 01:11] brew4321 commented on #518
![error](https://cloud.githubusercontent.com/assets/15134841/11764808/b065f4ee-a0fb-11e5-85bc-d2eeac2baf30.jpg)

[2015-12-13 01:18] brew4321 commented on #518
While trying to reproduce it, I put in a variable `s` to scale that outer loop by an arbitrary amount, making compute arbitrarily more complex... then slowly increased it while messing around. Also after reproducing it I was able to cause the error to revert to the normal "A for loop is taking too long to run. Perhaps you have a mistake in your code?" message. (I think just by editing the code..)

[2015-12-14 18:32] DanJFletcher commented on #517
Your welcome. I took a look at the source code over the weekend, but I'm having trouble understanding where the syntax errors are being created.

I can see that there are factory functions in slowparse for each parse error, and that in live-editor.output_webpage.js there are lint messages. I'm not familiar with backbone, so maybe this is where my confusion is, but I can't seem to find where the er

[2015-12-14 20:40] kevinbarabash commented on #517
When making changes always, make changes in `js/` instead of `build/` and run `gulp` to continually watching the files.  `output.js` lives in an iframe and communicates errors back to the parent frame via `phoneHome` which is called `buildDone` in `js/output/shared/output.js`.  In the webpage environment `this.output` in `output.js` is an instance of `WebpageOutput`.  Calls to `LiveEditorOutput` t

[2015-12-14 21:08] DanJFletcher commented on #517
Ah OK thanks!

[2015-12-15 00:29] brew4321 commented on #518
Another program is displaying a blank error: https://www.khanacademy.org/computer-programming/gingerbread-maker/4650907356233728

[2015-12-15 18:58] Potato42 commented on #518
Came here to report blank error.  My guess is the blank error is due to https://github.com/Khan/live-editor/commit/57130931aa8ded361a081b7cfc803c3bf4d317e0, but the only place I've found so far that still uses the html property when throwing an error is an ast thing, not a loop protector thing.  It might be a good idea for now to console.log or something before we delete the html property so that

[2015-12-16 02:10] DozenalFTW commented on #514
I second this.

[2015-12-16 02:11] DozenalFTW commented on #510
Well, the user has a point. It's bad experience for someone to get going in a really amazing game, and then AOAS, *Oh Noes*, a function/loop is taking too long to run. When it's not the author's fault.

[2015-12-16 02:13] ASimnegar opened #520 "Absence of Date() Object in JavaScript"
Currently, on Khan Academy, the `Date` object is disallowed with the error message:
[code]

[2015-12-16 02:29] pamelafox commented on #520
Thanks for filing! I believe the place to add it is here:
https://github.com/Khan/live-editor/blob/master/js/output/pjs/pjs-code-injector.js#L125
I don't know of a reason not to add it, so I'll send a PR with a test later this week
if someone doesn't beat me to it.

[2015-12-16 02:53] kevinbarabash commented on #520
This one is a bit tricky because `Date.now()` is stateful.

[2015-12-16 03:03] kevinbarabash commented on #518
@Potato42 I think you're right about the cause.  I going to create a separate bug for the issue with the blank "show me where" dialog.

[2015-12-16 03:09] kevinbarabash opened #521 "InfiniteLoop location report is missing"
Part of the https://github.com/Khan/live-editor/issues/518 bug report.  The issue is that when the infinite loop protector is triggered the Oh Noes guy used to state where the infinite loop was but no longer does so.  As @Potato42 suggested, this was probably introduced by https://github.com/Khan/live-editor/commit/57130931aa8ded361a081b7cfc803c3bf4d317e0.

[2015-12-16 03:26] DozenalFTW commented on #509
I wish you could star an issue like you could a repo... maybe you can.

[2015-12-16 23:59] DozenalFTW commented on #448
I think Cis112233 is trying to say that either
(a) the rectangle would have 0 round at tl and br, and 25 at tr and bl, OR
(b) the rectangle round would be an _elliptical_ arc, though the use of `0` implies not...

[2015-12-17 00:02] DozenalFTW commented on #454
I should note that the image widths are slightly off (the original is 130x116 and the others seem to be 100 tall).

[2015-12-17 00:07] DozenalFTW commented on #465
@ "I guess we could have a maximum number of draw calls before with trigger the loop protector triggers, just wrap all processing draw commands so that they update a counter somewhere and check that the counter doesn't exceed a certain amount."

Well, but that's no fun if you're doing something like `println(ellipse)` to go exploring... you'll find a reference to an `ellipse` that can't be explore

[2015-12-17 00:20] DozenalFTW commented on #471
I think the warning should exist. After all, why shouldn't one have _everything_ inside an `<html>` tag?

[2015-12-17 01:46] kevinbarabash commented on #448
@DozenalFTW that makes sense.

[2015-12-17 19:21] Gigabyte-Giant commented on #504
I won't be submitting a fix for this issue, as I haven't found time to write one. Sorry.

[2015-12-17 19:37] MikaalSky commented on #504
I'm gonna hop on board the Bug Fixing Boat and try to tackle this one.

[2015-12-17 19:39] Gigabyte-Giant commented on #504
Good luck @MikaalSky. I think I've explained the issue to you well enough.

Here's a link that you'll want to save (originally shared with me by @pamelafox): http://esprima.org/demo/parse.html#

Throw some test code into it, and look at how the AST looks; from there, you should be able to figure out a good way to perform a node-rewrite.

Good luck, have fun, and happy learning!

[2015-12-17 19:42] MikaalSky opened #522 "for() Infinite Loop, unhelpful error."
![Screenshot](http://take.ms/kD2wK)
[Program In Question](https://www.khanacademy.org/computer-programming/agario-singleplayer/5153226747412480)
Basically, I ran against the wall a whole bunch and what I'm assuming is the loop protector fired. It leaves behind a really unhelpful error.

[2015-12-17 19:43] Gigabyte-Giant commented on #522
Duplicate of https://github.com/Khan/live-editor/issues/521.

[2015-12-17 19:44] MikaalSky commented on #522
Partially #518 as well, but more specifically the message issue.

[2015-12-17 20:21] kevinbarabash commented on #522
I think this is a duplicate of https://github.com/Khan/live-editor/issues/521, but since one has a nice screenshot I'll close the other as a duplicate of this.

[2015-12-17 20:23] kevinbarabash commented on #521
Closing as a duplicate of https://github.com/Khan/live-editor/issues/522.

[2015-12-17 20:23] #521 closed

[2015-12-17 20:41] ASimnegar commented on #520
What does stateful mean? Isn't it like a getter?

On Tue, Dec 15, 2015 at 9:53 PM, Kevin Barabash <notifications@github.com>
wrote:

--
Sincerely,

Ariel Simnegar

[2015-12-17 21:07] GoToLoop commented on #520
Stateful means it is an object w/ mutable instance properties.

[2015-12-18 02:13] kevinbarabash commented on #520
Maybe `stateful` was the best choice of words.  The issue is that live-editor let's you change parts of your program while it's running.  This often requires re-running commands because processing-js doesn't use a scene graph and you need to redraw the scene each time.  The problem is that some functions are not idempotent.  This means that they do not produce the same result if you call them mult

[2015-12-18 14:58] MikaalSky commented on #471
@DozenalFTW Well, yeah the warning should exist but the main problem is that it's a false report. HTML is the root tag.
There should be a different warning for each element outside of the html tag that says something like "It's best practice to keep all tags inside of <html>."

[2015-12-18 15:39] DozenalFTW commented on #471
I thought there was a `<style>` outside the `<html>`...

[2015-12-18 16:50] DozenalFTW commented on #441
Why can't we use program thumbnails in PJS programs like we can in HTML?

[2015-12-18 16:55] DozenalFTW commented on #432
Well, here's my two cents:

Brit Cruise mentioned once a tolerance of 1e-15 in a video. That's about the accuracy of 64-bit floats. So, even if `floor(random(2, 5))` is allowed to return 5, the chances are so small that it probably will never happen anyway.

[2015-12-18 17:12] DozenalFTW commented on #446
I like this idea. Maybe have something where if the program crashes, give EB a special message saying "I think this program may never stop. Click me if you want to keep trying."
There could also be a `<select>` on the page where you could set how many more seconds you want the loop to run for: 1, 2, 5, 10, 30, 60.

[2015-12-18 17:57] kevinbarabash commented on #446
We could even add a pause button to the UI so that users wouldn't have to choose a timeout a priori.

[2015-12-18 23:36] brew4321 opened #523 "Something is undefined for some devices when using 3d with the processingjs library"
When I made this: https://www.khanacademy.org/computer-programming/3d-maze-game/5316019273465856 lots of people told me they were getting an error. E.g. "Why can't I play? It just says undefined!"
At first I assumed the webgl stuff was complaining that they didn't have a good enough gpu. However I tested the maze game out on a variety of devices, and found one that threw the error, then wrote this

[2015-12-19 01:59] kevinbarabash commented on #523
@brew4321 which device caused an error for the first program?

[2015-12-19 03:14] DozenalFTW commented on #434
I know this is old, but @pamelafox , your HTML tags got snipped by GitHub. I take it the post said:
[code]
I only picked `<center>` as the guess because W3Schools says it's not supported in HTML5.

[2015-12-19 11:51] thomasmorelli opened #524 "SQL talk-throughs can be partially edited while the talk-through is playing"
I noticed that, while watching SQL talk-throughs that had created a table in them, while the talk-through was playing, I could click on the table name (in the canvas) and there would be a new line in the code with ```SELECT * FROM table_name;```. This is especially annoying (and confusing to new students, considering that this example is in the Hour of Databases) because, as I understand it, you r

[2015-12-19 12:36] thomasmorelli opened #525 "SQL incorrectly formats the word 'type' in CREATE TABLE and INSERT INTO"
In _More complex queries with AND/OR_ - https://www.khanacademy.org/computing/computer-programming/sql/more-advanced-sql-queries/p/more-complex-queries-with-andor -, the word 'type' in CREATE TABLE and INSERT INTO is incorrectly formatted blue.

It would be helpful if, as well as fixing this, you could work up a whole set of formatting for SQL, because the only formatting you've got at the moment

[2015-12-19 21:41] kevinbarabash commented on #525
I think we just need to disable the link in output frame when the talk-through is playing.  You're able to make edits by typing when the talk-through is paused so it seems reasonable to allow users to using the link when paused.

[2015-12-19 21:42] kevinbarabash commented on #524
I think we just need to disable the link in output frame when the talk-through is playing.  You're able to make edits by typing when the talk-through is paused so it seems reasonable to allow users to using the link when paused.

[2015-12-19 21:50] kevinbarabash commented on #525
Interesting.  We just need to create our own version of https://github.com/ajaxorg/ace/blob/36e6744a5f40df0da52ff22b3bc729657c056e09/lib/ace/mode/sql_highlight_rules.js.  It think it makes sense to create a sqlite.js and sqlite_highlight_rules.js.  We should probably also add "INTO" as a keyword.  Actually all of the keywords should be listed uppercase and lowercase.  It would be nice to highlight

[2015-12-20 05:18] brew4321 commented on #523
@kevinbarabash It's a samsung galaxy light running android version 4.2.2 and I tested it with three browsers firefox, chrome, and built in internet app.

[2015-12-20 12:51] thomasmorelli commented on #524
@kevinbarabash That's what I was thinking - apart from I think you should leave the link formatting while the talk-through is playing and when it's paused, just disable the link while it's playing (to take away any confusion as to why the link formatting goes then returns)

[2015-12-20 13:18] thomasmorelli opened #526 "Khan SQL doesn't require the 'AS' keyword to do the same job as the 'AS' keyword"
![The 'AS' keyword is not required](https://cloud.githubusercontent.com/assets/16276687/11918116/e1f529fa-a71b-11e5-8eec-384761d29a8b.png)

I just stumbled across this bug where the 'AS' keyword is not required to change the column name from, say, ```SUM(words)``` to ```number```.

[2015-12-20 13:44] thomasmorelli opened #527 "Unhelpful OhNoes error"
On https://www.khanacademy.org/computer-programming/jolly-mcfreezes-gingerbread-jubilee-wip/5706409032941568 I just noticed a very strange OhNoes error come up.

![Unhelpful ohnoes error on DY's program](https://cloud.githubusercontent.com/assets/16276687/11918218/99f04dd4-a71f-11e5-9f05-4d2797be851a.png)

This may be related to #522, but as it doesn't look like a loop, I created a new issue here.

[2015-12-20 13:52] thomasmorelli commented on #527
I've just checked DY's [3D Much Whee](https://www.khanacademy.org/computer-programming/3d-much-whee/5008266156441600) program. and it has the same unhelpful error - just in a different place.

The error on [3D Much Whee](https://www.khanacademy.org/computer-programming/3d-much-whee/5008266156441600) looks a lot more like #522, but I'm not sure. You can close this issue if it's a duplicate though!

[2015-12-20 18:18] kevinbarabash commented on #527
I'm going to close this as a duplicate.  I'll check that these programs work once we have a fix for https://github.com/Khan/live-editor/issues/522.

[2015-12-20 18:18] #527 closed

[2015-12-21 14:29] Gigabyte-Giant commented on #522
I decided to (try and) spread some holiday cheer, by creating a really inaccurate "snow simulation" using the Khan Academy PJS environment (don't worry, I'm making one for terminal as well).

The idea, is that snow (ellipses) fall down the canvas, and then stop once it hits the ground (the bottom of the canvas, minus an offset).

Here's the program: https://www.khanacademy.org/computer-programming

[2015-12-22 05:10] Potato42 commented on #522
The specific line of code that is at fault here is probably https://github.com/Khan/live-editor/blob/d75ef52dc624ac62e64a169437d8169962927786/js/output/pjs/pjs-output.js#L492
The callback assumes that the error will have an html property, but it actually has a infiniteLoopNodeType (or whatever it's called) property.

[2015-12-22 05:18] kevinbarabash commented on #522
@Potato42 good detective work.  Would you be able to put together a pull request with the correct property?

[2015-12-22 08:06] pamelafox commented on #526
That's consistent with the SQlite demo, which is using the same library:
https://kripken.github.io/sql.js/GUI/

The SQLite diagram here seems to indicate the AS is optional in SQLite?
https://www.sqlite.org/syntax/result-column.html

[2015-12-22 16:08] kevinbarabash commented on #526
According to http://savage.net.au/SQL/sql-99.bnf.html#as%20clause `AS` is option in an "as clause" in SQL99.  I'm closing this as a not a bug.

[2015-12-22 16:08] #526 closed

[2015-12-22 17:17] Potato42 commented on #522
I've had bad luck in the past with the building process for live-editor PRs on windows.  I might consider trying again, but
a) If I understand the problem correctly, it's a really simple fix for someone who isn't on windows and is more competent at git and build tools than I am.  Basically, just take the message from [here](https://github.com/Khan/live-editor/commit/57130931aa8ded361a081b7cfc803c3

[2015-12-22 18:10] Potato42 commented on #514
You really should just check for unclosed comments ad give an error similar to the PJS one:

    It looks like your comment isn't closed. Use */ to end a multi-line comment.
Don't look for SQL code in comments or even make a message saying that you are because they could just be commenting out some code or documenting the usage of a table or something.  Also, since SQL similar to English, I suppos

[2015-12-22 18:31] thomasmorelli commented on #514
I agree with @Potato42

[2015-12-23 02:22] benjaminjkraft commented on #522
I'm going to take a look at this while I'm looking at another related thing; not sure if I will get a chance to fix it, but if not I'll unassign myself so others can.

[2015-12-23 02:23] benjaminjkraft commented on #518
Also going to take a look at this, likewise to #522.

[2015-12-23 03:57] DozenalFTW commented on #514
At first I thought the warning would be useful, but the code would be greened out anyway...

[2015-12-23 05:55] Potato42 commented on #514
It's greened out but given that the report says

so it seems that a lack of errors for unclosed comments are confusing newer programmers who might not be paying attention to syntax highlighting.  Don't know too much about SQL, but based on a bit of googling it seems like most SQL implementations with C-style block comments have unclosed comment errors anyway, so it would seem like it would be the

[2015-12-24 00:39] brew4321 commented on #523
I came across another threeD prog on the hot list the other day, and skimmed through the comments and found similar complaints. I asked the person about their device and browser and I think they are using an ipad: https://www.khanacademy.org/computer-programming/bowling-3d-wip/4720219263729664?qa_expand_key=ag5zfmtoYW4tYWNhZGVteXJpCxIIVXNlckRhdGEiRnVzZXJfaWRfa2V5X2h0dHA6Ly9pZC5raGFuYWNhZGVteS5vcmc

[2015-12-24 15:06] SpongeJr commented on #515
I've been seeing a number of complaints on ZenDesk about the SQL environment lately, generally with the tutorials and challenges not working, and they all seem related to this. Also, they're generally saying the problem is the worst in Chrome.

I'm unable to get the kinds of "total stopper" and hanging errors that some reports have given in Chrome, but the issues definitely seem more pronounced in

[2015-12-24 18:07] ASimnegar commented on #520
It doesn't seem to be working. When I try to create a Date, I get a
TypeError:

TypeError: Cannot read property 'prototype' of undefined

On Thu, Dec 17, 2015 at 9:13 PM, Kevin Barabash <notifications@github.com>
wrote:

--
Sincerely,

Ariel Simnegar

[2015-12-24 18:32] kevinbarabash commented on #520
@ASimnegar are you trying to fix this issue?

[2015-12-27 00:11] DozenalFTW commented on #514
I can't believe they wouldn't be paying attention to syntax highlighting. Though I wish the colors of the editor contrasted more. Then this wouldn't be an issue at all.
For example, the editor could be a dark background and comments could be `#808080` or the like. It would be impossible not to notice, especially if normal txt was white and `SELECT` was red or something.

[2015-12-27 13:13] ASimnegar commented on #520
I don't really know much about Github, but I can test it

Sincerely,
   Ariel Simnegar

[2015-12-27 22:22] #504 closed

[2015-12-27 22:38] kevinbarabash commented on #516
I believe this problem is unrelated to https://github.com/Khan/live-editor/issues/504.  I think this is because of the way that we're constructing objects.  Currently we're using a function called `applyInstances` to create all object isntances, see https://github.com/Khan/live-editor/blob/master/js/output/pjs/pjs-output.js#L562-L591 for details.  I hadn't noticed this before, but that's a pretty

[2015-12-28 23:24] benjaminjkraft commented on #518
Ok, I believe this is now fixed in d16b858; the infinite loop error now has the proper text.  Thanks for all the reports and repros.  I'm not 100% sure we fixed all the issues mentioned because a few of the repros were a bit flaky for me, so let me know if there were any parts of this that aren't fixed for you.

[2015-12-28 23:24] #518 closed

[2015-12-28 23:27] benjaminjkraft commented on #522
I believe this was also fixed in d16b858 -- error-buddy now shows the location and a proper error message -- but I'm not entirely sure if I had a consistent repro of it in the first place.  Please feel free to reopen or make a new issue if this isn't actually fixed for you, and thanks for all the reports!

[2015-12-28 23:27] #522 closed

[2015-12-29 00:48] lgto4 opened #528 "Lint error makes for a comatose program."
See the program at https://www.khanacademy.org/computer-programming/wat5/5754244333961216

A syntax error (?) is not flagged by Yoko Oh Noes and the program appears comatose (since it is not run).

[2015-12-29 01:04] kevinbarabash commented on #528
This isn't a syntax error b/c `a = [,];` evaluates to `[undefined x 1]` in the Chrome dev console and jshint.com produces a warning but no syntax error.  Not sure why the program doesn't run.  My guess is maybe an issue with the AST transforms.

[2015-12-29 02:48] lgto4 commented on #528
Yes.  I should have said "lint", not "syntax".

[2015-12-29 08:11] Potato42 commented on #423
This is the weirdest thing.  I don't get the error any more, but the iframe now **reloads** every time you press the restart button, changing `document.referrer` to the kasandbox domain.  Usually restarting a program doesn't reload the iframe, but for some reason it does when you have the `draw` loop + `window`/`__env__` in a global variable combo.  Why on earth would that happen?
Plus, the fix I'

[2015-12-29 22:17] pamelafox opened #529 "JS error when typing HTML, no lint error outputted"
I believe this is a regression caused by the recently deployed changes around lint messages.

Try typing HTML in https://www.khanacademy.org/computer-programming/new/webpage,
see error in console, differing depending on browser.

[2015-12-29 23:28] #529 closed

[2015-12-31 21:37] lgto4 opened #530 "Yoko Oh Noes issues bogus complaint re. function inside a loop"
See the simple test case at https://www.khanacademy.org/computer-programming/wat6/4756125945298944
A nameless function is passed as an argument to a sort method within a loop. Ideally Yoko Oh Noes would simply accept such a construct.   She should at least give a reasonable compliant.

[2015-12-31 22:59] kevinbarabash commented on #530
@lgto4 thanks for report.  I verified the behaviour you observed.  This is definitely something we should change considering that callbacks are used all over the place in JavaScript.

[2016-01-01 04:42] MikaalSky commented on #459
Probably to save resources by not binding to events that would be called by desktop computers on a mobile but with touchscreen displays on PCs this doesn't make sense.

[2016-01-01 11:46] thomasmorelli opened #531 "Number-scrubber can go way off the editor"
Number-scrubber going off way too far to the left
![Number-scrubber goes off way too far to the left](https://cloud.githubusercontent.com/assets/16276687/12070684/1028f7ca-b07c-11e5-9c61-c03baadedfca.png)

Number-scrubber can go on forever to the right:
![Number-scrubber can go on forever to the right](https://cloud.githubusercontent.com/assets/16276687/12070682/07b6991c-b07c-11e5-9bc1-8162690097e

[2016-01-06 00:38] Gigabyte-Giant opened #532 "Canvas size picker is non-functional in/on webpage environment"
I realize the "canvas size picker" is a new feature, but there are a few problems with it, mainly in the webpage environment.

First off, it's not actually showing the default "canvas" size when you open it; it shows 400x400, which is the default for the PJS environment, but not the webpage environment.

Secondly, picked sizes do not appear to be saved after applying. They're there for the remaind

[2016-01-06 01:58] kevinbarabash commented on #532
The webpage size is resizable using by dragging the divider.  I think the "canvas" size options were meant for the pjs environment.

[2016-01-06 02:35] Gigabyte-Giant commented on #532
I realize that, yes. That being said, I believe that if a control of that nature is on the page, it should be functional.

Feel free to close this if you don't think my concerns are valid!

[2016-01-06 04:36] kevinbarabash commented on #532
@Gigabyte-Giant I think this report is totally valid.  In terms of resolution though, hiding the controls for non-PJS environments is probably the route to go.  I should've said that in my previous comment.

[2016-01-06 13:03] Gigabyte-Giant commented on #532
Glad to hear we're on the same page. Hiding the controls was one of my first thoughts.

[2016-01-06 19:34] pamelafox commented on #532
I have a task internally reminding me to do this (as this came up in the tips/thanks of the release program). It's an internal change, so I'll close it here. Thanks!

[2016-01-06 19:34] #532 closed

[2016-01-06 19:35] Gigabyte-Giant commented on #532
I figured there'd be something already listed internally. Thanks @pamelafox.

[2016-01-06 23:44] lgto4 opened #533 "Finite loop detector misfires when used with mouseDragged"
The KA finite loop detector misfires when a CPU intensive function is invoked from mouseDragged. Invoking the same function from draw is fine (as if anything associated with the loop detector is "fine").

A simple test program is at https://www.khanacademy.org/computer-programming/wat4/5728076905971712 This is using Chrome on LinuxMint (Ubuntu).

[2016-01-07 01:57] kevinbarabash commented on #533
Thanks for re-opening this.  I think the other one was closed because the message got fix even though that wasn't the bug that was originally reported.

[2016-01-07 11:04] thomasmorelli opened #534 "Idea: GETDATE() in SQL?"
Could this be a possibility?

I got the idea from [this page](http://www.w3schools.com/sql/func_getdate.asp)

[2016-01-07 16:11] Gigabyte-Giant commented on #534
Have you reviewed [this](https://www.sqlite.org/lang_datefunc.html) page?

[2016-01-08 12:15] thomasmorelli commented on #534
@Gigabyte-Giant Sorry, I was looking in the wrong place again! I'll close this

[2016-01-08 12:15] thomasmorelli commented on #534
Sorry, I was looking in the wrong place. I'm going to close this.

[2016-01-08 12:15] #534 closed

[2016-01-08 22:21] pamelafox commented on #262
This is a more important issue now as it's affecting a challenge that will come out soon. I'll raise priority internally as well.

[2016-01-08 23:03] kevinbarabash commented on #262
It's probably best to just leave the semi-colon out.  I can't think of a good way to regex/ast this problem.  Having to always add the semi-colon gets them into the habit of doing so.

[2016-01-08 23:06] pamelafox commented on #262
Just for color(), do you mean? The semi-colon is handy for fill/stroke, because you can immediately start picking your color and see the effect, and you don't have to fix a syntax error first.

Leaving it out for color() seems reasonable to me. Hopefully I haven't used it in any talk-throughs, as it could potentially affect them if I did. (Though we technically have versioning which helps).

[2016-01-09 01:49] kevinbarabash commented on #262
Hmm... good point about seeing the effect immediately.  Maybe we only do it for `color` and `getImage` and functions that return values.  We could look at what comes before the call to `color`.  We're already checking if we're inside of a function call, e.g. `foo(color(255, 0, 0)` inserts color without the `;`.  We could check if there's a `:` in front of us.

[2016-01-09 03:32] brew4321 opened #535 "Oh noes miss firing in an object method."
Take a look at this simplified example program: https://www.khanacademy.org/computer-programming/oh-noes-misfire/6562709088370688
I usually run into this problem when I carelessly cut and paste code around, and forget to bring the variables that the code snippet depends on. The problem is that oh noes instead of reminding me that (for example) "bw is not defined" gets confused and thinks pos shoul

[2016-01-09 03:43] kevinbarabash commented on #535
Nice find.  The problem is how we check spelling right now.  Currently we run a regex to split a line up into words and then check each of those words against global methods.  We only check spelling on a line when jshint has reported an error on that line.  The jshint error contains the name of the undefined variable so we should probably be passing that the spell checker and only checking against

[2016-01-09 03:54] kevinbarabash commented on #386
Not sure when this got fixed, but I can't reproduce this anymore.  It says `i not defined` like it should.

[2016-01-09 03:54] #386 closed

[2016-01-09 05:53] brew4321 commented on #535
I thought it might be something like that, but I didn't know enough about it to really know.. hey at least the way it's broken it should always point to the right line! :)

[2016-01-10 02:25] DozenalFTW commented on #444
In all honesty, after a certain level of programming, it is just too impractical to have the live refresh. It always leads to problems. We `still` have core and user functions being converted to strings when objects are changed.

Play around with [this](https://www.khanacademy.org/computer-programming/pjs/4720504870666240)... I don't get it. It's becoming hard to reproduce the bug, but I always ma

[2016-01-11 02:33] Eytukan opened #536 "No description for bezierVertex error"
I was coding today and made a mistake in my code. I didn't put a vertex in front of my bezierVertex. Obviously I should've known that but I ran into an error buddy which showed nothing and gave no description on how to reverse this.

Shows how the error occurs:
https://www.khanacademy.org/computer-programming/~/4816748243451904

[2016-01-11 03:04] kevinbarabash commented on #536
@Eytukan unfortunately the error buddy isn't very good at reporting runtime errors.  At the very lease we should have some kind of a message like "Oh noes!  A error occurred while running your program".

[2016-01-11 03:14] Eytukan commented on #536
that would be just fine. I just wasn't able to understand what my problem was until much later

[2016-01-11 03:15] kevinbarabash commented on #444
@DozenalFTW converting functions to strings causes problems for us.  I think that we could probably change how we're doing this now that we're turning all globals into member expressions.  It might also be good to have an option for users to turn off live updating.

What's the infamous colour bug?  Also, I tried changing values around the scratchpad that you linked to but I didn't see any errors.

[2016-01-11 23:31] DozenalFTW commented on #444
1. Weird, there was a bug where if you had objects in your program and changed certain properties, you'd get errors about strings not being functions. Well, this seems to be fixed! :+1:
2. There used to be a bug where objects would cause all colors to go black. This has mutated: [change the value on line 5, or the colors themselves](https://www.khanacademy.org/computer-programming/the-color-bug/57

[2016-01-12 01:57] #536 closed

[2016-01-12 13:35] petercollingridge commented on #262
I would vote for leaving off the semi-colon altogether - it's also a problem when you make an array of colors (as I often do). The same is true with and array of images using `getImage`.

[2016-01-12 14:51] thomasmorelli commented on #234
This issue is about a year old, but I don't see why something hasn't happened to fix it. Shouldn't it be a priority?

[2016-01-12 16:22] kevinbarabash commented on #234
@thomasmorelli thanks reminding us about it.  We'll have a look at it.  + @benjaminjkraft

[2016-01-12 18:07] thomasmorelli commented on #234
No problem @kevinbarabash Happy to help :)

[2016-01-12 18:09] benjaminjkraft commented on #234
@kevinbarabash thanks for the cc.  I'm not immediately sure how possible it is to fix this -- it seems like we'd have to intercept all DOM accesses to munge any `href` changes, which I guess is not impossible but seems quite tricky.  On the other hand it does kind of defeat the purpose of the link redirector as-is, so it would be nice to fix.  Do you have ideas for how we'd do this?

I don't think

[2016-01-12 19:57] kevinbarabash commented on #234
We could define an 'href' property on `HTMLAnchorElement.prototype`, e.g.
[code]
I tried this out and it works.  We'd switch out the `set` method so that it munges the URL to use page redirector.  We could also set it up to create runtime warnings if the URL is malformed.

[2016-01-12 20:03] benjaminjkraft commented on #234
We'd also want to set it non-configurable, but yeah, that's surprisingly nice.  Are there other ways to modify the href?

[2016-01-12 20:25] kevinbarabash commented on #234
You can also do `elem.setAttribute('href', url);` but we can patch that too.

[2016-01-13 13:15] daniellim2000 opened #537 "Auto-completion of code"
I think it would be better to implement auto-completion/suggestion, which is available in most IDEs. The students can know the correct variable/method to type if implemented.

I am willing to help implement that but I don't know how. It would be great if someone would work on this and guide me along the way.

Thanks

[2016-01-13 13:21] thomasmorelli commented on #537
Some people might find it distracting, though.

[2016-01-13 13:39] daniellim2000 commented on #537
Probably let them select in the options

[2016-01-13 13:41] thomasmorelli commented on #537
Which options? The program options?

That wouldn't make sense as it would be effecting the person's use of the ACE editor, not the program itself.

[2016-01-13 14:18] Gigabyte-Giant commented on #537
The live-editor had auto-suggest for quite a while, however, they disabled it before Hour of Code 2015 (see [this](https://github.com/Khan/live-editor/commit/4e028ca5d15d3b062a4a9b38fd4033ddb1a75758) commit).

Here's a note from Pamela Fox (taken from [here](https://github.com/Khan/live-editor/pull/498#issuecomment-160809824)):

[2016-01-13 14:24] Gigabyte-Giant commented on #311
This should probably be closed, shouldn't it, since [auto-suggest was disabled](https://github.com/Khan/live-editor/commit/4e028ca5d15d3b062a4a9b38fd4033ddb1a75758)?

[2016-01-13 15:36] kevinbarabash commented on #311
@Gigabyte-Giant yup, that makes sense.

[2016-01-13 15:36] #311 closed

[2016-01-13 15:57] kevinbarabash opened #538 "Add a settings menu where user can configure options"
There are few options that would be nice to configure on a per user basis, e.g. enabling/disabling auto-complete.

I investigated using the ace settings menu, but it's not really set up to configure what options show up in the menu.  It's probably easier to create our own menu.

I was thinking of having a modal, something like the settings panel in Chrome dev tools.

It should have some defaults,

[2016-01-13 15:58] kevinbarabash commented on #537
I created issue https://github.com/Khan/live-editor/issues/538 for the settings menu.

[2016-01-13 15:58] Gigabyte-Giant commented on #538
While it might be hard to implement, and kind of tricky for KA users to use, I'd really love to see a command palette like the ones found in Sublime Text, Atom, and Visual Studio Code.

[2016-01-13 16:29] kevinbarabash commented on #538
The command palette seems like it solves a different from a settings menu.  WebStorm has the same thing and I use it to find a command when I forgot the shortcut (or there is no shortcut).  It's also useful to find commands.

![codebasics_commands](https://cloud.githubusercontent.com/assets/1044413/12300244/71a3a0a2-b9cf-11e5-8f52-e1dac98d8bed.png)

https://code.visualstudio.com/Docs/editor/codeba

[2016-01-13 16:33] Gigabyte-Giant commented on #538
Hmm, good point. It seems like it would be good for settings/options that can be toggled on/off (e.g auto-suggest), however, that might not be enough to justify dedicating time to implementing one into the editor.

If you can decide what sort of settings menu you'd like to see in the editor, I might be able to work on implementing it during one of my LCTV streams.

[2016-01-14 13:46] daniellim2000 commented on #538
1) Auto-complete
2) Auto-indentation(Code formatting because new programmers tend to make their code messy)?

I suppose not much is needed as the users are not really advanced and thus would not need most of the tools.

[2016-01-14 13:49] Gigabyte-Giant commented on #538
Code formatting should definitely be an option (see [this](https://github.com/Khan/live-editor/issues/182)).

[2016-01-14 16:08] kevinbarabash commented on #182
Update URL http://kevinbarabash.github.io/live-editor/tidy/index.html

[2016-01-15 01:01] lgto4 opened #539 "Yoko Oh Noes complains about a missing unreachable break statement."
Yoko Oh Noes complains that case 42 is unacceptable, yet case 43 is fine.

/*
 * Yoko Oh Noes asks
 * "Did you forget a 'break' statement before 'case'?"
 * No, I did not.
 */
var x = function(i, j) {
    var i;
    switch (i) {
        case 42:
            if (j > 0) {
                return (true);
            } else {
                return (false);
            }
            /* break is not rea

[2016-01-15 05:20] kevinbarabash commented on #539
Here's the code if others want to try it out:
[code]
Interestingly both jshint and eslint get this wrong.

[2016-01-15 05:26] lgto4 commented on #539
So, maybe it's not a bug, rather a feature?

[2016-01-15 05:31] Gigabyte-Giant commented on #539
I always thought that was a feature (I've ran into it numerous times when using eslint).

While the `break` statements are technically unreachable, I don't think that the `no-fallthrough` (eslint)  option cares, it just wants to see that you put a `break` statement before starting a new `case`.

[2016-01-15 11:46] daniellim2000 opened #540 "Add debug terminal/console"
Just now I went to look at the help requests and I saw someone asking where can he find a debug console or another side to do his coding.
I've tried console.log before and apparently it doesn't work.
It would be helpful if a debug console is provided for more advanced users to do their debugging more easily.

And one more question. May I know what library is KhanAcademy using to teach javascript?

[2016-01-15 11:48] daniellim2000 commented on #538
A debug console or terminal would be helpful for more advanced users.
[#540](https://github.com/Khan/live-editor/issues/540)

[2016-01-15 16:22] kevinbarabash commented on #540
Having an interactive console I think would be cool.  It probably wouldn't be too hard to implement.  I'm not sure where to fit it into the UI.  Maybe it could temporarily replace the editor... or maybe there could be a split screen option where the bottom half of the editor was the console.

In terms of the website... we use live-editor and https://github.com/Khan/structuredjs on the website.  Bo

[2016-01-15 17:32] MikaalSky commented on #540
The chromebooks that students use at my school have the developer console disabled entirely. It would be great if there was a virtual one, though.

[2016-01-16 07:33] thomasmorelli commented on #234
@kevinbarabash @benjaminjkraft There is actually another way you can modify the href, using jQuery:

```$('a#link1').attr('href', url);```

Would you be able to patch this?

[2016-01-16 07:35] thomasmorelli commented on #234
My example is of an ```<a>``` tag with a ID ```link1```, i.e.

```<a id="link1">Example link</a>```

[2016-01-16 08:08] kevinbarabash commented on #234
@thomasmorelli under the hood jQuery's using `setAttribute`.

[2016-01-16 08:44] thomasmorelli commented on #234
@kevinbarabash OK. Thank you

[2016-01-17 21:47] DozenalFTW commented on #538
Not to mention changing the KAInfiniteLoopProtect time (of course, bounded by say 20 seconds).

[2016-01-17 21:48] DozenalFTW commented on #535
What's really bad is that it doesn't even matter if it's a variable undefined at all:
[code]
still throws the same error.

[2016-01-18 00:32] DozenalFTW commented on #532
Who opened this issue?

Well, in that case, I think setting a default of 400 for webpages can be allowed — but the user still can resize them. And what about the height?

[2016-01-18 00:45] MikaalSky commented on #532
@dozenalFTW Look at the OP for that info.

[2016-01-18 01:55] kevinbarabash commented on #535
Yup... if there's an error on a line it blindly checks for spelling mistakes.  We can definitely make this better.

[2016-01-18 20:07] GoToLoop commented on #519
https://GitHub.com/processing-js/processing-js/issues/219

[2016-01-18 22:29] SpongeJr opened #541 "Canvas not updating or not updating properly when code is edited in PJS environment"
Several learners have been reporting frustrations on ZenDesk as well as in community discussions about output (the canvas) not updating, or not updating properly when certain changes to code are made in the ProcessingJS environment.

It's very likely this should be two (or more?) issues, but they feel as though they could be related.

This is generally reported in one of two forms:

- The student

[2016-01-18 23:40] SpongeJr commented on #541
I tried to stick to simple cases, but here is, I believe, [an interesting practical example](https://www.khanacademy.org/computer-programming/spin-off-of-project-fish-tank/5732235112742912). A learner wonders why their fish tails disappear when they change the code, even just inserting a blank line.

In Chrome, on my Windows box, the tails "disappear" (change to the blue `background` color from li

[2016-01-19 00:45] kevinbarabash commented on #444
@DozenalFTW thanks for the example.  I've had a look at the code and determined that we were stringifying ProcessingJS functions like `fill`, `noStroke`, etc. and then replacing the functions with the strings, whoops.  I'm surprised that our tests didn't pick this up.  I was able to fix that issue, but changing `object.method` doesn't update like it should.

[2016-01-19 04:44] lgto4 opened #542 "Yoko Oh Noes has a beef with literal arrays as arguments to println"
`println([3, 2, 1]);`
produces the complaint "t looks like you're trying to use println(). In case you forgot, you can use it like: println(data) | ProcessingJS".

[2016-01-20 17:06] Gigabyte-Giant commented on #538
If this does indeed get implemented, I'd love to see an option to toggle the Ace-Editor's ruler, as it'd make it a lot easier for me to check to make sure that I'm [sticking to whatever line-length rules](https://github.com/Khan/style-guides/blob/master/style/javascript.md#line-length) that I follow.

While I'm sure that there aren't many other students that try to conform to a style-guide, and th

[2016-01-21 01:43] DozenalFTW commented on #541
First off, there should be certain types of changes to be considered as "trivial," such as editing inside a comment or inserting a blank line in places it doesn't matter.
The problem is, commenting in/out code should not be marked as trivial. It can be hard to tell what is editing completely in a comment versus not.

Though then again, some people use comments like this:
[code]
It can be hard to f

[2016-01-21 01:54] DozenalFTW commented on #542
It sees a `,` and thinks you're passing a second argument to `println`, like `println(42, 21)`. I notice that using a comma in a string doesn't do _this_ bug, but I think the hint that appears guiding you through the text function bugs out.

[2016-01-21 02:32] kevinbarabash commented on #542
That makes sense.  We do a lot of things with regexes that we should probably be doing with an AST.

[2016-01-21 03:10] kevinbarabash commented on #541
The tails disappearing is because we were marking certain functions as unsafe meaning running doesn't change the state of processing-js.  Not sure why this wasn't triggering a full re-run.  In this case the function is actually safe so I've marked it as such along with a couple of others.

It would be nice to differentiate trivial vs. non-trivial changes.

[2016-01-21 19:13] kevinbarabash commented on #444
@lgto4 sorry for the delayed response.  I had a look at the PVector heavy program you linked.  It's troublesome that the program ran out of memory even after you went to the trouble of recycling object instances.  A person shouldn't have to do that when the instances are being used temporarily.  We should be able to rely on the garbage collector.

In the case of the snowman game I wasn't able to t

[2016-01-23 03:26] DozenalFTW commented on #510
There was something said once about turning all user functions into generators and `yield`ing to prevent Infinite Loops. Where did that go?

[2016-01-23 03:49] JavascriptFTW commented on #510
@DozenalFTW The `yield` operator is not currently supported in any browsers except Firefox 29.0 ([source](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/yield)), and is not at all supported in Babel (the ES6 transpiler used to build the live editor).

[2016-01-23 04:43] Potato42 commented on #510
@JavascriptFTW ...and chrome (like your source says), edge (which I tested) and probably more...

But the thing is, you don't need full compatibility to improve the infinite loop behavior.  I'm sure with your escodegen stuff you can have a fairly elegant way of falling back to the old way on browsers that don't have generator support.

[2016-01-23 05:10] kevinbarabash commented on #510
@DozenalFTW I'm working on it right now.  I'm updating https://github.com/kevinbarabash/debugger to fix some issues that will allow JavaScript to be re-entrant in the live-editor.  See https://github.com/kevinbarabash/debugger/milestones/Required%20for%20Loop%20Protect for the issues that relate to fixing the loop protector.

@JavascriptFTW the debugger uses regenerator to support generators on br

[2016-01-23 05:15] JavascriptFTW commented on #510
@kevinbarabash I was not aware of that. Good to know.

[2016-01-26 00:41] darrylyeo commented on #531
I can't say for sure, but I think this was part of the design. It seems odd at first, but at the same time it doesn't make sense to arbitrarily stop the scrubber once it reaches the edge of the ACE editor. That would make for a potentially jarring experience.

On a different note (and we can see it in your screenshot), the width of the scrubber seems to limit itself when scrolled past the right si

[2016-01-26 00:57] kevinbarabash commented on #531
I agree with @darrylyeo.  That being said, it would be nice if the scrubber didn't collapse we it reached the right side of the screen.  That should be a relatively easy fix by setting a a fixed width on the scrubber.

[2016-01-26 02:19] darrylyeo commented on #531
Should I start a new issue for that, @kevinbarabash?

[2016-01-26 02:26] darrylyeo opened #543 "Inconsistent appearances of number scrubber"
The number scrubber doesn't appear for all numbers, especially if there are certain combinations of letters symbols, or spaces that precede it.

I've documented a whole bunch of possible combinations here. Test by clicking every occurrence of "123" (or scrolling through with arrow keys).
https://www.khanacademy.org/computer-programming/number-scrubber-bug/5383506645876736

It's a little unclear if

[2016-01-26 03:33] kevinbarabash commented on #531
@darrylyeo sure.  I'll close this one.

[2016-01-26 03:33] #531 closed

[2016-01-26 04:43] darrylyeo opened #544 "Number scrubber shrinks width when scrolled past right side of window"
The number scrubber shrinks its width when scrolled past the right side of the window, causing the arrows to wrap. (Screenshot by @thomasmorelli)
![image](https://cloud.githubusercontent.com/assets/16276687/12070682/07b6991c-b07c-11e5-9bc1-8162690097ed.png)

I'd go a little further to suggest replacing the scrubber with an SVG graphic so we can ensure a consistent look and feel across browsers and

[2016-01-28 14:00] SpongeJr opened #545 "<SCRIPT> tag in uppercase incorrectly generates error"
Reported on Zendesk:

Replicated, example can be seen on [this project](https://www.khanacademy.org/computer-programming/uppercase-script-tag-error/5220028773695488).

All caps would still be valid HTML for the`<script>` tag, so this should be accepted.